<main>
    <section class="encabezado-productos">
        <h1>Productos</h1>
        <button mat-stroked-button routerLink="/dashboard/nuevoproducto">Añadir producto</button>
    </section>

    <div class="container-productos">
        <section class="lista-productos">
            <app-tablacompleta [columns]="columns" [displayedColumns]="displayedColumns" [data]="productos" [buttons]="botones"
            [eliminarSeleccionados]="eliminarSeleccionDialog.bind(this)" (selectionChange)="onSelectionChange($event)"></app-tablacompleta>
        </section>

    </div>
</main>

<!-- CONTENIDO DEL MODAL PARA ELIMINAR PRODUCTO -->
<ng-template #contentEliminar>
    <div>
        ¿Estás seguro de querer eliminar el producto "{{ nombreProducto }}"?
    </div>
</ng-template>

<!-- CONTENIDO DEL MODAL PARA ELIMINAR LA SELECCIÓN DE PRODUCTOS -->
<ng-template #contentEliminarSeleccion>
    <div>
        ¿Estás seguro de querer los productos seleccionados?
        <br>
        <span class="caution">¡OJO! Si has pulsado el botón para seleccionar todo, se eliminarán todos los productos, incluidos aquellos que no aparezcan en la vista actual.</span>
    </div>
</ng-template>
