<main>

    <section class="encabezado-metodospago">
        <h1>Métodos de pago</h1>
    </section>

    <section class="lista-metodospago">

            @for(item of metodospago; track item.slug) {

                <div class="metodopago">
                    <div class="title-metodopago">
                        <h2>{{ item.nombre }}</h2>
                        <p><mat-slide-toggle checked="{{ item.activo === 1 ? true : false }}" [disabled]="disabledT" (change)="switchActivar(item.slug, $event)">¿Activar?</mat-slide-toggle></p>
                        
                    </div>
                    <div class="desc-metodopago">
                        <p>{{ item.descripcion }}</p>
                    </div>
                    <button class="modificar" mat-stroked-button routerLink="{{ item.slug }}">Modificar</button>
                </div>

            }

            @empty {
                <p>No hay métodos de pago disponibles.</p>
            }
            
        
    </section>
</main>