.encabezado-metodospago{
    display: flex;
    gap: 1rem; 
    margin-bottom: 1rem;
}

.metodopago{
    margin-bottom: 2rem;
}

.title-metodopago{
    display: flex;
    gap: 2rem
}

.desc-metodopago{
    display: flex;
    flex-direction: column;
}
