<main>
    <div class="encabezado-media">
        <h1>Categorías de producto</h1>
    </div>

    <div class="container-categorias">
        <section class="lista-categorias">
            <app-tablacompleta [columns]="columns" [displayedColumns]="displayedColumns" [data]="data" [buttons]="botones" [btnDangerAll]="true"></app-tablacompleta>
            <br>
            <p>*El slug es una pequeña parte del enlace que representa a la categoría. Debe ser único.</p>
        </section>

        <aside class="form-categorias">
            <h2>Añadir nueva categoría</h2>
            <form [formGroup]="crearCategoriaForm" class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Nombre de la categoría" formControlName="nombre" ngDefaultControl required>
                </mat-form-field>
        
                <mat-form-field class="example-full-width">
                    <mat-label>Slug</mat-label>
                    <input matInput placeholder="Slug de la categoría" formControlName="slug" ngDefaultControl required>
                </mat-form-field>

                <button mat-flat-button class="select-image" (click)="openDialogSeleccionarImagen()">Seleccionar imagen</button>
                @if(imagenSeleccionada()) {
                    <span> Imagen: {{ imagenElegida.nombre }}</span>
                }

                <br><br>
                <button mat-stroked-button type="submit" (click)="crearProductcategory()" [disabled]="!crearCategoriaForm.valid">Guardar</button>
            </form>
        </aside>
    </div>

</main>
