.container-categorias{
    display: flex;
    gap:2rem;
}

.lista-categorias{
    width: 60%;
}

.select-image{
    background-color: var(--darkblue);
    color: var(--white);
}

.form-categorias{
    width: 40%;
}

.example-form {
    min-width: 150px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}
  