<main>
    <section>
        <h1>Detalles del mensaje</h1>

        <!-- Detalles del mensaje -->
        <div class="detalles-oferta">
            <a href="dashboard/mensajes">← Volver a la página anterior</a>

            <br><br>
            
            @if(mensaje) {
                <h2>Nombre y apellidos</h2>

                <p>{{ mensaje.Nombre }}  {{ mensaje.Apellidos }}</p> 
    
                <h2>Correo electrónico</h2>
    
                <p>{{ mensaje.Email }}</p>
    
                <h2>Fecha de envío</h2>
    
                <p>{{ mensaje.Fecha }}</p>
    
                <h2>Asunto</h2>
    
                <p>{{ mensaje.Asunto }}</p>
    
                <h2>Mensaje</h2>
    
                <p>{{ mensaje.Mensaje }}</p>

            } @else {
                <p>Cargando los datos del mensaje...</p>
            }
            
        </div>
    </section>
</main>
