<main>
    <section class="panelcontrol">
        <div class="encabezado-panel">
            <h1>Panel de control</h1>
            <p>
                Los datos que se muestran a continuación ofrecen una aproximación a los datos reales. Esto es debido a que sólo se guardan como ventas aquellas
                compras que hace el cliente sin intervención del panel de administración.
            </p>
        </div>

        <br><br>
        
        <div class="tablas-container">

            <div class="tabla table-responsive mat-elevation-z8">
                <table mat-table [dataSource]="ventasBeneficios" class="mat-elevation-z8 demo-table">
                    <!-- Producto Column -->
                    <ng-container matColumnDef="producto">
                        <th mat-header-cell *matHeaderCellDef> <b>Producto</b> </th>
                        <td mat-cell *matCellDef="let venta"> {{venta.producto}} </td>
                    </ng-container>

                    <!-- Beneficios Column -->
                    <ng-container matColumnDef="beneficios">
                        <th mat-header-cell *matHeaderCellDef> <b>Beneficios</b> </th>
                        <td mat-cell *matCellDef="let venta"> {{venta.beneficios}}€ </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsBeneficios"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsBeneficios;"></tr>
                </table>
            </div>

            <div class="tabla table-responsive mat-elevation-z8">
                <table mat-table [dataSource]="ventasCantidad" class="mat-elevation-z8 demo-table">
                    <!-- Producto Column -->
                    <ng-container matColumnDef="producto">
                        <th mat-header-cell *matHeaderCellDef> <b>Producto</b> </th>
                        <td mat-cell *matCellDef="let venta"> {{venta.producto}} </td>
                    </ng-container>

                    <!-- Ventas Column -->
                    <ng-container matColumnDef="ventas">
                        <th mat-header-cell *matHeaderCellDef> <b>Ventas</b> </th>
                        <td mat-cell *matCellDef="let venta"> {{venta.ventas}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsventas"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsventas;"></tr>
                </table>
            </div>

        </div>
        
    </section>
</main>