.tabla{
    width: 100%;
    box-shadow: inset;
}

.tablas-container{
    display: flex;
    gap: 2rem;

    @media only screen and (max-width: 767px) {
        flex-direction: column;
    }
}

.mat-column-producto{
    border-right: 1px solid currentColor;
}
