<!-- HEADER -->
<app-header></app-header>

<main>
    <section class="envio">
        <h1>Envío y devoluciones</h1>

        <div class="envio-container">
            <h2>I. INTRODUCCIÓN</h2>
            <p>
                Este sitio web tiene un propósito exclusivamente educativo, diseñado para simular el funcionamiento de una tienda online. Por lo tanto, todas las
                transacciones y procesos relacionados con envíos y devoluciones son ficticios y no tienen validez legal o comercial.
            </p>

            <h2>II. ENVÍOS</h2>
            <ol>
                <li>
                    Simulación de Envíos
                    <ul>
                        <li>
                            Los productos mostrados en este sitio web no son reales, y no se realizan envíos físicos ni digitales.
                        </li>
                        <li>
                            Cualquier información proporcionada durante el proceso de compra es utilizada únicamente para fines educativos, simulando la experiencia de
                            un usuario en una tienda online.
                        </li>
                    </ul>
                </li>
                <li>
                    Notificaciones de Envío
                    <ul>
                        <li>
                            Como parte de la simulación, los usuarios pueden recibir notificaciones ficticias relacionadas con el estado de un envío. Estas notificaciones
                            son generadas automáticamente y carecen de validez.
                        </li>
                    </ul>
                </li>     
            </ol>

            <h2>III. DEVOLUCIONES</h2>
            <ol>
                <li>
                    Simulación de Devoluciones
                    <ul>
                        <li>
                            No es posible realizar devoluciones reales, ya que los productos y transacciones de este sitio web son ficticios.
                        </li>
                        <li>
                            El proceso de devolución que pueda estar habilitado en el sitio web es una simulación con fines educativos.
                        </li>
                    </ul>
                </li>
                <li>
                    Solicitud de Devoluciones
                    <ul>
                        <li>
                            Durante la simulación, los usuarios pueden practicar el proceso de solicitud de devolución siguiendo los pasos indicados en el sitio.
                            Estos datos no generan ninguna acción real.
                        </li>
                    </ul>
                </li>     
            </ol>

            <h2>IV. ACLARACIONES IMPORTANTES</h2>
            <ul>
                <li>
                    Sin compromisos legales: Dado que los productos y servicios de esta tienda son ficticios, no existe ninguna relación contractual o comercial entre
                    el usuario y el titular del sitio web.
                </li>
                <li>
                    Propósito educativo: Todos los datos facilitados por los usuarios durante los procesos simulados se utilizan únicamente para aprender cómo funcionan
                    los sistemas de envío y devolución en un entorno digital.
                </li>
            </ul>

            <h2>V. CONTACTO</h2>
            <p>
                Si tienes preguntas o inquietudes sobre los procesos de simulación en este sitio web, puedes ponerte en contacto con nosotros a través de:
            </p>
            <ul>
                <li>
                    Correo electrónico: easyshop.notifications&#64;gmail.com
                </li>
            </ul>
        </div>
    </section>
</main>

<!-- FOOTER -->
<app-footer></app-footer>