<h2 mat-dialog-title>Eliminar CVs seleccionados</h2>
@if (this.data.ids.length > 0) {
    <mat-dialog-content>
        ¿Estás seguro de que quieres eliminar los CVs seleccionados?
        <br>
        <span class="caution">¡OJO! Si has pulsado el botón para seleccionar todo, se eliminarán todos los CVs, incluidos aquellos que no aparezcan en la vista actual.</span>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>No</button>
        <button mat-button mat-dialog-close class="aceptar" cdkFocusInitial (click)="eliminarSeleccionados()">Sí</button>
    </mat-dialog-actions>
} @else {
    <mat-dialog-content>
        No hay registros seleccionados.
        <br>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Aceptar</button>
    </mat-dialog-actions>
}
