.encabezado-metodosenvio{
    display: flex;
    gap: 1rem; 
    margin-bottom: 1rem;
}

.encabezado-metodosenvio button{
    border-color: var(--darkblue);
}

.caution {
    color: red;
}

.form-field{
    width: 100%;
}