<main>
    <section>
        <div class="encabezado-metodosenvio">
            <h1>Métodos de envío</h1>
            <button mat-stroked-button (click)="nuevoMetodoenvio()">Añadir método de envío</button>
        </div>

        <app-tablacompleta [columns]="columns" [displayedColumns]="displayedColumns" [data]="metodosenvio" [buttons]="botones"
        [eliminarSeleccionados]="eliminarSeleccionMetodoenvio.bind(this)" (selectionChange)="onSelectionChange($event)"></app-tablacompleta>
        
    </section>
</main>

<!-- CONTENIDO DEL MODAL PARA AÑADIR MÉTODOS DE ENVÍO -->
<ng-template #contentNuevo>
    <div>
        <form [formGroup]="nuevoMetodoenvioForm">
            <mat-form-field class="form-field">
                <mat-label>Nombre</mat-label>
                <input matInput required type="text" formControlName="nombre">
            </mat-form-field>

            <mat-form-field class="form-field">
                <mat-label>Precio</mat-label>
                <input matInput required type="number" formControlName="precio">
            </mat-form-field>
        </form>
    </div>
</ng-template>

<!-- CONTENIDO DEL MODAL PARA EDITAR MÉTODOS DE ENVÍO -->
<ng-template #contentEditar>
    <div>
        <form [formGroup]="editarMetodoenvioForm">
            <mat-form-field class="form-field">
                <mat-label>Nombre</mat-label>
                <input matInput required type="text" formControlName="nombre">
            </mat-form-field>

            <mat-form-field class="form-field">
                <mat-label>Precio</mat-label>
                <input matInput required type="number" formControlName="precio">
            </mat-form-field>
        </form>
    </div>
</ng-template>

<!-- CONTENIDO DEL MODAL PARA ELIMINAR MÉTODOS DE ENVÍO -->
<ng-template #contentEliminar>
    <div>
        ¿Estás seguro de querer eliminar el método de envío "{{ metodoenvio?.Nombre }}"?
    </div>
</ng-template>

<!-- CONTENIDO DEL MODAL PARA ELIMINAR LA SELECCIÓN DE MÉTODOS DE ENVÍO -->
<ng-template #contentEliminarSeleccion>
    <div>
        ¿Estás seguro de querer los métodos de envío seleccionados?
        <br>
        <span class="caution">
            ¡OJO! Si has pulsado el botón para seleccionar todo, se eliminarán todos los métodos de envío, incluidos aquellos que no aparezcan en la vista actual.
        </span>
    </div>
</ng-template>