<!-- HEADER -->
<app-header></app-header>

<main>
    <section class="checkout">
        <h1>Finalizar compra</h1>

        <!-- CUPÓN -->
        <h3>Si tienes un cupón de descuento indícalo a continuación:</h3>
        <form class="cuponForm" [formGroup]="cuponForm">
            <input type="text" class="form-control cupon" id="cupon" aria-describedby="cuponHelp" placeholder="Código de cupón" formControlName="codigo">
            <button mat-flat-button (click)="comprobarcupon()" class="submit">Aplicar cupón</button>
        </form>

        <div class="checkout-container">
            <form class="checkout-form" [formGroup]="checkoutForm">

                <!-- DETALLES DE FACTURACIÓN -->
                <div class="checkout-container-item">
                    <h2>Detalles de facturación</h2>
                    <mat-divider></mat-divider>

                    <mat-grid-list class="input-list" cols="2" rowHeight="5:1">
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field class="form-field" [style.width.%]="100" [style.gap.%]="10">
                                <mat-label>Nombre:</mat-label>
                                <input type="text" matInput formControlName="nombre" required>
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field class="form-field" [style.width.%]="100">
                                <mat-label>Apellidos:</mat-label>
                                <input type="text" matInput formControlName="apellidos" required>
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field class="form-field" [style.width.%]="100">
                                <mat-label>País/Región:</mat-label>
                                <input type="text" matInput formControlName="pais" required>
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field class="form-field" [style.width.%]="100">
                                <mat-label>Dirección de entrega:</mat-label>
                                <input type="text" matInput formControlName="direccion" required>
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field class="form-field" [style.width.%]="100">
                                <mat-label>Código postal:</mat-label>
                                <input type="number" matInput formControlName="codigopostal" required>
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field class="form-field" [style.width.%]="100">
                                <mat-label>Población:</mat-label>
                                <input type="text" matInput formControlName="poblacion" required>
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field class="form-field" [style.width.%]="100">
                                <mat-label>Provincia:</mat-label>
                                <input type="text" matInput formControlName="provincia" required>
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field class="form-field" [style.width.%]="100">
                                <mat-label>Teléfono:</mat-label>
                                <input type="number" matInput formControlName="telefono" required>
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field class="form-field" [style.width.%]="100">
                                <mat-label>Correo electrónico:</mat-label>
                                <input type="email" matInput formControlName="email" required>
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile [colspan]="2" [rowspan]="3">
                            <mat-form-field class="form-field" [style.width.%]="100">
                                <mat-label>Notas del pedido:</mat-label>
                                <textarea  cdkTextareaAutosize
                                #autosize="cdkTextareaAutosize"
                                cdkAutosizeMinRows="7"
                                cdkAutosizeMaxRows="10" type="textarea" matInput formControlName="notas"></textarea>
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list> 
                    
                </div>

                <!-- TU PEDIDO -->
                <div class="checkout-container-item">
                    <mat-card class="checkout-card">
                        <mat-card-header>
                            <mat-card-title>Tu pedido</mat-card-title>
                        </mat-card-header>

                        <mat-card-content>
                            <div class="content-item">
                                <p class="content-item-title">Producto</p>
                                <p class="content-item-title">Subtotal</p>
                            </div>
                        <mat-divider></mat-divider>
                        
                        @for (item of this.pedido; track item.Id) {

                            <div class="content-item">
                                <p>{{ item.Nombre }} x {{ item.cantidad }}</p>
                                <p>{{ item.Precio_rebajado_euros ? item.Precio_rebajado_euros * item.cantidad : item.Precio_euros * item.cantidad }} €</p>
                            </div>
                            <mat-divider></mat-divider>

                        } @empty {

                            <h3>No hay productos en el carrito.</h3>
                        }
                        
                        @if(cupondescuento) {
                            <div class="content-item">
                                <p>Descuento</p>
                                <p>-{{ (cupondescuento.Tipo == 'Fijo' ? cupondescuento.Descuento  : subtotal * (cupondescuento.Descuento / 100)) | currency:'EUR' }}</p>
                            </div>
                        }
                            
                        <mat-divider></mat-divider>
                            <div class="content-item">
                                <p>Total</p>
                                <p>{{ total | currency:'EUR'}} (incluye IVA)</p>
                            </div>
                        <mat-divider></mat-divider>
                      </mat-card-content>
                      <mat-card-footer class="example-card-footer">
                        <mat-card-content>
                            <div class="metodo-pago">
                                <h2 class="footer-title">Método de pago</h2>

                                <mat-radio-group aria-labelledby="radio-group-label" class="radio-group" formControlName="metodopago">
                                    @for(metodopago of metodospago; track metodopago.slug) {
                                        <mat-radio-button class="radio-button" value="{{ metodopago.slug }}">{{ metodopago.nombre }}</mat-radio-button>
                                    }
                                    @empty {
                                        <p>No hay métodos de pago disponibles</p>
                                    }
                                </mat-radio-group>
                            </div>
                            <p class="datos-personales">
                                Tus datos personales se utilizarán para procesar tu pedido, mejorar tu experiencia en esta web y otros propósitos descritos en nuestra 
                                <a routerLink="">política de privacidad</a>.
                            </p>

                            <button mat-flat-button (click)="crearPedido()" *ngIf="metodospago.length > 0">Proceder al pago</button>
                        </mat-card-content>
                      </mat-card-footer>
                    </mat-card>
                    
                </div>
            </form>
            
        </div>
    </section>
</main>

<!-- FOOTER -->
<app-footer></app-footer>