<!-- AYUDA/FAQS -->
<section class="ayuda">
    <div class="buscar-ayuda">
      <h2>¿Tienes dudas?</h2>
      <p>Visita nuestra página de ayuda al cliente.<br>Estaremos encantados de ayudarte.</p>
      <button mat-flat-button><a class="btn-ayuda" href="/ayuda">Ir al centro de ayuda</a></button>
    </div>
    <div class="buscar-ayuda">
      <img src="../../../assets/img/gameon.jpg" class="d-block w-100" alt="...">
    </div>
</section>

<!-- Datos de la tienda y enlaces de interés -->
<section class="datosextras">

  <div class="datolist">
    <h3>Datos de la tienda</h3>
    <span class="address-item">
      Av. de pruebas 24
    </span>
    <br>
    <span class="address-item">
      29006 Málaga
    </span>
    <br>
    <span class="address-item">
      easyshop.notifications&#64;gmail.com
    </span>
    <br>
    <span class="address-item">
      952799632
    </span>
  </div>

  <div class="datolist">
    <h3>Atención al cliente</h3>
    <ul>
      <li class="atencion-item"><a class="item-link" href="/nosotros">Nosotros</a></li>
      <li class="atencion-item"><a class="item-link" href="/contacto">Contacto</a></li>
      <li class="atencion-item"><a class="item-link" href="/ayuda">Ayuda</a></li>
      <li class="atencion-item"><a class="item-link" href="/empleos">Canal de empleo</a></li>
    </ul>
  </div>

  <div class="datolist">
    <h3>Política de la tienda</h3>
    <ul>
      <li class="politica-item"><a class="item-link" href="#">Aviso legal</a></li>
      <li class="politica-item"><a class="item-link" href="#">Política de privacidad</a></li>
      <li class="politica-item"><a class="item-link" href="#">Política de cookies</a></li>
      <li class="politica-item"><a class="item-link" href="#">Envío y devoluciones</a></li>
    </ul>
  </div>

  <div class="datolist">
    <div class="pagoseguro">
      <mat-icon class="addtocart-icon" aria-label="Icon securepayment" fontIcon="lock"></mat-icon>
      <h3>Pago seguro garantizado</h3>
    </div>
    <div class="logo-pagoseguro">
      <img src="../../../assets/img/efectivo.png" class="d-block" alt="...">
      <img src="../../../assets/img/movil.png" class="d-block" alt="...">
      <img src="../../../assets/img/tarjetadecredito.png" class="d-block" alt="...">
    </div>
  </div>
  
</section>

<section class="copyright">
  
    <p>© 2024 Creado por <a href="https://juanlu-portfolio.infinityfreeapp.com/">Juan Luis Talavera Peláez</a></p>
  
</section>
