.btn-ayuda{
    text-decoration: none !important;
    color: white;
}

/* DESKTOP */
@media screen and (min-width:1367px){
    // AYUDA
    .ayuda{
        padding: 0;
    }

    // TIENES DUDAS
    .buscar-ayuda h2{
        font-size: var(--lengthLg1);
    }
    
    .buscar-ayuda p{
        font-size: var(--lengthMd1);
        line-height: 2rem;
    }

    .buscar-ayuda button{
        font-size: var(--lengthMd1);
        margin-top: 2rem;
    }

    // DATOS EXTRA
    .datosextras{
        margin: 0 3rem;
        padding: 4rem 2rem;
    }

    .datolist{
        width: 25%;
    }

    .datolist h3{
        font-size: var(--lengthMd2);
    }

    .datolist li, .datolist span{
        font-size: var(--lengthMd1);
    }

    .logo-pagoseguro img{
        width: 10%;
    }
}

/* TABLET */
@media screen and (min-width:768px) and (max-width: 1366px){
    // TIENES DUDAS
    .ayuda{
        padding: 0;
    }
    .buscar-ayuda h2{
        font-size: var(--lengthMd2);
    }
    .buscar-ayuda p{
        font-size: var(--lengthSm3);
        line-height: 1rem;
    }
    .buscar-ayuda button{
        margin-top: 1rem;
    }

    // DATOS EXTRA
    .datosextras{
        margin: 0;
        padding: 4rem 2rem;
    }

    .datolist{
        width: 25%;
    }

    .datolist h3{
        font-size: var(--lengthMd1);
    }

    .datolist li, .datolist span{
        font-size: var(--lengthSm3);
    }

    .pagoseguro{
        gap: 0.5rem;
    }

    .pagoseguro mat-icon{
        font-size: 1.25rem;
    }

    .pagoseguro h3{
        line-height: 1.5rem;
    }

    .logo-pagoseguro img{
        width: 20%;
    }
}

/* MOBILE */
@media screen and (max-width:767px){
    // TIENES DUDAS
    .ayuda{
        gap: 0.5rem;
        padding: 0.5rem;
    }

    .buscar-ayuda h2{
        font-size: var(--lengthMd1);
        margin-bottom: 0.5rem;
    }
    .buscar-ayuda p{
        font-size: var(--lengthSm2);
        line-height: 1rem;
    }
    .buscar-ayuda button{
        margin-top: 0.25rem;
        font-size: var(--lengthSm3);
        padding: 0.5rem;
    }

    // DATOS EXTRA
    .datosextras{
        flex-wrap: wrap;
        margin: 0 1rem;
        padding: 2rem 1rem;
    }

    .datolist{
        width: auto;
    }

    .pagoseguro mat-icon{
        font-size: 1rem;
    }

    .logo-pagoseguro img{
        width: 15%;
    }

}

/* AYUDA*/
.ayuda{
    background-color: var(--black);
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.buscar-ayuda{
    width: 50%;
}

.buscar-ayuda h2{
    color: var(--white);
}

.buscar-ayuda p{
    color: var(--white);
}

.buscar-ayuda button{
    color: var(--white);
    background-color: var(--darkblue);  
}

/* DATOS EXTRA */

// Atención al cliente
.datolist h3{
    font-weight: bold;
    
}

.datolist ul{
    list-style: none;
    display: contents;
}

.datolist a.item-link{
    text-decoration: none;
    color: var(--black);
}

.datolist a.item-link:hover{
    color: var(--darkblue);
    cursor: pointer;
}

// Pago seguro
.datosextras{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;  
    gap: 2rem;
    background-color: white;
}

.pagoseguro{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-pagoseguro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

/* COPYRIGHT */
.copyright{
    padding: 1rem 0;
    background-color: var(--lightgray);
}

.copyright p{
    text-align: center;
    font-size: var(--lengthMd1);
}

.copyright a{
    text-decoration: none;
    color: var(--darkblue);
}