<div class="header-container">

    <mat-toolbar class="container-up">
        <div class="rrss">
            <mat-icon class="rrss-item" aria-hidden="false" aria-label="Icon Facebook" fontIcon="facebook"></mat-icon>
            <mat-icon class="rrss-item" aria-hidden="false" aria-label="Icon Twitter" svgIcon="twitter"></mat-icon>
            <mat-icon class="rrss-item" aria-hidden="false" aria-label="Icon Instagram" svgIcon="instagram"></mat-icon>
        </div>
        <nav class="menu">
            <a class="menu-item" href="#">Nosotros</a>
            <a class="menu-item" href="#">Contacto</a>
        </nav>
    </mat-toolbar>

    <div class="container-center"></div>
    <div class="container-bottom"></div>

</div>

