<!-- DESKTOP -->
<header class="header-container">

    <mat-toolbar class="container-up">
        <div class="rrss">
            <mat-icon class="rrss-item" aria-hidden="false" aria-hidden="false" aria-label="Icon Facebook" fontIcon="facebook"></mat-icon>
            <mat-icon class="rrss-item" aria-hidden="false" aria-hidden="false" aria-label="Icon Twitter" svgIcon="twitter"></mat-icon>
            <mat-icon class="rrss-item" aria-hidden="false" aria-hidden="false" aria-label="Icon Instagram" svgIcon="instagram"></mat-icon>
        </div>
        <nav class="menu">
            <a class="menu-item" href="#">Nosotros</a>
            <a class="menu-item" href="#">Contacto</a>
        </nav>
    </mat-toolbar>

    <div class="container-center">
        <h1><a href="">EasyShop</a></h1>
        <div class="search-control">
            <form>
                <input class="search-input" type="text" placeholder="Buscar producto..." #searchbar>
                <input class="search-submit" type="submit" value="Buscar">
            </form>
        </div>
        
        <div class="icon-action">
            <div class="icon-action-item">
                <mat-icon aria-label="Icon account" aria-hidden="false" fontIcon="account_circle"></mat-icon>
                <span>Entrar</span>

                <mat-icon aria-label="Icon wishlist" aria-hidden="false" fontIcon="favorite"></mat-icon>
                <span>Favoritos</span>
                
                <mat-icon aria-label="Icon cart" aria-hidden="false" fontIcon="shopping_cart" matBadge="15" (click)="openSidenav()"></mat-icon>    
            </div>
        </div>
    </div>

    <div class="container-bottom">
        <a class="category-item" href="/productos">Ver todo</a>
        <a class="category-item" href="/productos/ordenadores">Ordenadores</a>
        <a class="category-item" href="/productos/tablets">Tablets</a>
        <a class="category-item" href="/productos/telefonos">Teléfonos</a>
        <a class="category-item" href="/productos/perifericos">Periféricos</a>
        <a class="category-item" href="/productos/televisiones">Televisiones</a>
        <a class="category-item" href="/productos/audio">Audio</a>
        <a class="category-item" href="/productos/camaras">Cámaras</a>
    </div>

</header>

<!-- MOBILE -->
<header class="header-container-mobile">

    <mat-toolbar class="container-up-mobile">
        <div class="rrss-mobile">
            <mat-icon class="rrss-item" aria-hidden="false" aria-label="Icon Facebook" fontIcon="facebook"></mat-icon>
            <mat-icon class="rrss-item" aria-hidden="false" aria-label="Icon Twitter" svgIcon="twitter"></mat-icon>
            <mat-icon class="rrss-item" aria-hidden="false" aria-label="Icon Instagram" svgIcon="instagram"></mat-icon>
        </div>

        <div class="icon-action-mobile">
            <mat-icon aria-label="Icon account" aria-hidden="false" fontIcon="account_circle"></mat-icon>
            <mat-icon aria-label="Icon wishlist" aria-hidden="false" fontIcon="favorite"></mat-icon>
            <mat-icon aria-label="Icon cart" aria-hidden="false" fontIcon="shopping_cart" matBadge="15"></mat-icon>    
        </div>
    </mat-toolbar>

    <div class="container-center-mobile">
        <h1><a href="">EasyShop</a></h1>

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon aria-label="Icon menu" aria-hidden="false">menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu" yPosition="below" xPosition="before">
            <button mat-menu-item>
                <a href="/productos">Ver todo</a>
            </button>
            <button mat-menu-item>
                <a href="/productos/ordenadores">Ordenadores</a>
            </button>
            <button mat-menu-item>
                <a href="/productos/tablets">Tablets</a>
            </button>
            <button mat-menu-item>
                <a href="/productos/telefonos">Teléfonos</a>
            </button>
            <button mat-menu-item>
                <a href="/productos/perifericos">Periféricos</a>
            </button>
            <button mat-menu-item>
                <a href="/productos/televisiones">Televisiones</a>
            </button>
            <button mat-menu-item>
                <a href="/productos/audio">Audio</a>
            </button>
            <button mat-menu-item>
                <a href="/productos/camaras">Cámaras</a>
            </button>
          </mat-menu>
    </div>

    <div class="container-bottom-mobile">
        <div class="search-control-mobile">
            <input class="search-input-mobile" type="text" placeholder="Buscar producto..." #searchbar>
            <input class="search-submit-mobile" type="submit" value="Buscar">
        </div>
    </div>
</header>
