<!-- HEADER -->
<app-header></app-header>

<main>
    <section class="cuenta-cliente">
        <h1 class="text-center">Mi cuenta</h1>
        @if(usuario) {
            <mat-tab-group>
                <mat-tab label="Pedidos">
                    <div class="tabla-pedidos">
                        <app-tablacompleta [data]="pedidos" [columns]="columns" [displayedColumns]="displayedColumns"
                        [btnDangerAll]="true" [buttons]="botones"></app-tablacompleta>
                    </div>
                </mat-tab>
                
                <mat-tab label="Configuración">
                    <div class="configuracion">
                        <div class="user-data">
                            <h3><b>Nombre</b>:</h3>
                            <p>{{ usuario.Nombre }}</p>
                            <h3><b>Email</b>:</h3>
                            <p>{{ usuario.Email }}</p>
                        </div>
                        <br>
                        <div class="acciones">
                            <button mat-flat-button class="modificar" (click)="actualizarUsuario()">Modificar datos</button>
                            <button mat-flat-button class="caution" (click)="cerrarsesion()">Cerrar sesión</button>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>

        } @else {
            <p>No se ha podido obtener los datos del usuario.</p>
        }
        
    </section>
</main>

<!-- FOOTER -->
<app-footer></app-footer>

<!-- MODAL PARA VER EL PEDIDO -->
<ng-template #verPedido>
    <div class="pedido">
        <p><b>Productos</b>:</p>
        @for(producto of pedidosItem; track producto.Id) {
            <p>{{ producto.Producto }} x {{ producto.Cantidad }} = {{ producto.Total }}€</p>
        }
        <hr>
        <b>Descuento</b>: - {{ pedido.Descuento ?? 0 }}€
        <hr>
        <b>Total</b>: {{ pedido.Total }}
    </div>
</ng-template>

<ng-template #editarUsuario>
    <div class="configuracion">
        <form [formGroup]="usuarioForm" class="usuario-form">
            <mat-form-field class="example-full-width">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" formControlName="name" ngDefaultControl required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" ngDefaultControl required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" formControlName="password" ngDefaultControl required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Repite contraseña</mat-label>
                <input matInput type="password" formControlName="password_confirmation" ngDefaultControl required>
            </mat-form-field>
        </form>
    </div>
</ng-template>
