.cuenta-cliente{
    margin: 0 auto;
}

.tabla-pedidos{
    padding: 2rem 0;
}

.configuracion{
    padding: 2rem 0;
}

.usuario-form{
    display: flex;
    flex-direction: column;
}

.user-data{
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 1rem;
    border: 1px solid lightgray;
    background-color: #fff;
}

.acciones{
    display: flex;
    gap: 1rem;
}

.acciones button.modificar{
    background-color: var(--darkblue);
    color: white;
}

.acciones button.caution{
    background-color: red;
    color: white;
}

// DESKTOP
@media only screen and (min-width: 1367px) {
    .cuenta-cliente{
        width: 70%;
        padding: 5rem 3rem;
    }
}

// MÓVIL
@media only screen and (max-width: 767px) {
    .cuenta-cliente{
        width: 100%;
        padding: 2rem 1rem;
    }
}

// TABLET
@media only screen and (min-width: 768px) and (max-width: 1366px) {
    .cuenta-cliente{
        width: 70%;
        padding: 3rem 0;
    }
}