<!-- HEADER -->
<app-header></app-header>

<main>
    <section class="oferta-empleo">
        @if(oferta) {
            <h1>{{oferta.puesto}}</h1>
            <p>Publicada el {{ oferta.fecha | date:'longDate'}}</p>

            <div class="oferta">

                <!-- Descripción de la oferta -->
                <div class="cuerpo-oferta">
                    <a [href]="baseUrl + '/empleos'">← Volver a la página anterior</a>
        
                    <h2>Descripción</h2>
        
                    <p>{{ oferta.descripcion }}</p> 
        
                    <h2>Requisitos</h2>
        
                    <p>{{ oferta.requisitos }}</p>
        
                    <h2>Beneficios</h2>
        
                    <p>{{ oferta.beneficios }}</p>
                </div>
        
                <!-- Detalles de la oferta -->
                <div class="detalles-oferta">
                    <mat-card class="detalles-card" appearance="outlined">
                        
                        <mat-card-header>
                        <mat-card-title>Detalles</mat-card-title>
                        </mat-card-header>

                        <mat-card-content>
                            <div class="detalle-item">
                                <p>Categoría</p>
                                <span>{{ oferta.jobcategory }}</span>
                            </div>
                            <br>
                            <div class="detalle-item">
                                <p>Provincia</p>
                                <span>{{ oferta.province }}</span>
                            </div>
                            <br>
                            <div class="detalle-item">
                                <p>Tipo de jornada</p>
                                <span>{{ oferta.jornada }}</span>
                            </div>
                            <br>
                            <div class="detalle-item">
                                <p>Nivel profesional</p>
                                <span>{{ oferta.nivel_profesional }}</span>
                            </div>
                            <br>
                            <div class="detalle-item">
                                <p>Modalidad</p>
                                <span>{{ oferta.modalidad }}</span>
                            </div>
                            <br>
                            <div class="detalle-item">
                                <p>Salario</p>
                                <span>{{ oferta.salario }}</span>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        }
        

        <!-- Formulario inscripción de la oferta -->
        <div class="formulario-inscripcion">
            <h2>¡Inscríbete!</h2>
            <p>Rellena el siguiente formulario y participarás en el proceso de selección:</p>

            <form class="form-contacto" [formGroup]="jobForm" (ngSubmit)="inscripcion()">
                <mat-grid-list class="input-list" cols="2" [rowHeight]="rowHeight" gutterSize="10px">
                    <mat-grid-tile [colspan]="1" [rowspan]="2">
                        <mat-form-field class="nombre-input form-field" [style.width.%]="100">
                            <mat-label>Nombre:</mat-label>
                            <input type="text" matInput placeholder="" value="" formControlName="nombre" required>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="1" [rowspan]="2">
                        <mat-form-field class="apellidos-input form-field" [style.width.%]="100">
                            <mat-label>Apellidos:</mat-label>
                            <input type="text" matInput placeholder="" value="" formControlName="apellidos" required>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="1" [rowspan]="2">
                        <mat-form-field class="email-input form-field" [style.width.%]="100">
                            <mat-label>Email:</mat-label>
                            <input type="email" matInput placeholder="" value="" formControlName="email" required>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="1" [rowspan]="2">
                        <mat-form-field class="telefono-input form-field" [style.width.%]="100">
                            <mat-label>Teléfono:</mat-label>
                            <input type="number" matInput placeholder="" value="" formControlName="telefono" required>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="1" [rowspan]="2">
                        <mat-form-field class="pais-input form-field" [style.width.%]="100">
                            <mat-label>País:</mat-label>
                            <input type="text" matInput placeholder="" value="" formControlName="pais" required>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="1" [rowspan]="2">
                        <mat-form-field class="ciudad-input form-field" [style.width.%]="100">
                            <mat-label>Ciudad:</mat-label>
                            <input type="text" matInput placeholder="" value="" formControlName="ciudad" required>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="2" [rowspan]="2">
                        <mat-form-field class="incorporacion-input form-field" [style.width.%]="100">
                            <mat-label>¿Cuándo podrías incorporarte?</mat-label>
                            <mat-select formControlName="incorporacion">
                                <mat-option value="Inmediatamente">Inmediatamente</mat-option>
                                <mat-option value="15 dias">En 15 días</mat-option>
                                <mat-option value="30 dias">En 30 días</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="2" [rowspan]="2">
                        <mat-form-field class="file-input form-field" [style.width.%]="100" appearance="outline">
                            <mat-label></mat-label>
                            <input type="file" (change)="getFile($event)" name="ruta_cv" required>
                            <input hidden matInput>
                        </mat-form-field>
                    </mat-grid-tile>                    
                
                </mat-grid-list>

                <mat-checkbox matInput class="politica-input form-field" formControlName="politica">
                    He leído y acepto la <a [href]="baseUrl + '/politica-de-privacidad'">política de privacidad</a>.
                </mat-checkbox>
                <br>
                <button mat-flat-button type="submit">Enviar</button>
            </form>
        </div>
        
    </section>
</main>

<!-- FOOTER -->
<app-footer></app-footer>
