<main>

    <section class="encabezado-pedido">
        
        <h1>Editar pedido @if(pedido) { #{{ pedido.Id }} }</h1>
        <a href="dashboard/pedidos">← Volver a la página anterior</a>
    </section>

    <br><br>

    @if(pedido) {
        <form [formGroup]="editarpedidoForm">
            <div class="pedido-data">
                
                <section class="pedido-data-item-izqa">
                    
                    <div class="input-border">
                        <h2>Datos del cliente</h2>

                        <mat-form-field class="example-full-width">
                            <mat-label>Nombre</mat-label>
                            <input matInput required type="text" formControlName="nombre">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Apellidos</mat-label>
                            <input matInput required type="text" formControlName="apellidos">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>País</mat-label>
                            <input matInput required type="text" formControlName="pais">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Dirección</mat-label>
                            <input matInput required type="text" formControlName="direccion">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Código postal</mat-label>
                            <input matInput required type="number" formControlName="codigo_postal">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Población</mat-label>
                            <input matInput required type="text" formControlName="poblacion">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Provincia</mat-label>
                            <input matInput required type="text" formControlName="provincia">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Teléfono</mat-label>
                            <input matInput required type="number" formControlName="telefono">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Email</mat-label>
                            <input matInput required type="email" formControlName="email">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Notas</mat-label>
                            <textarea matInput formControlName="notas"
                            cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="5"
                            cdkAutosizeMaxRows="10"></textarea>
                        </mat-form-field>
                    </div>

                </section>

                <aside class="pedido-data-item-dcha">
                    
                    <div class="input-border">
                        <h2>Datos del pedido</h2>

                        <mat-form-field class="example-full-width">
                            <mat-label>Cuenta del cliente</mat-label>
                            <mat-select formControlName="cuenta_cliente" ngDefaultControl>
                                @for(usuario of usuarios; track usuario.Id) {
                                    <mat-option [value]="usuario.Id"> #{{ usuario.Id }} - {{ usuario.Email }}</mat-option>
                                }    
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Método de pago</mat-label>
                            <mat-select required formControlName="metodo_pago" ngDefaultControl>
                                @for(metodopago of metodospago; track metodopago.slug) {
                                    <mat-option value="{{ metodopago.slug }}">{{ metodopago.nombre }}</mat-option>
                                }    
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Estado</mat-label>
                            <mat-select required formControlName="estado" ngDefaultControl>
                                @for(estado of estadospedido; track estado.id) {
                                    <mat-option [value]="estado.id">{{ estado.valor }}</mat-option>
                                }    
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Nombre descuento</mat-label>
                            <input matInput type="text" formControlName="nombre_descuento">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Tipo de descuento</mat-label>
                            <mat-select formControlName="tipo_descuento" ngDefaultControl>
                                <mat-option value="Fijo">Fijo</mat-option>
                                <mat-option value="Porcentual">Porcentual</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Descuento</mat-label>
                            <input matInput type="number" formControlName="descuento">
                        </mat-form-field>

                        <button mat-flat-button (click)="editarPedido()">Guardar</button>
                    </div>

                    <div class="input-border">
                        <p>Envía de nuevo el email con los datos del pedido y el pago al cliente:</p>
                        <button mat-flat-button (click)="enviarEmail()">Enviar email</button>
                    </div>

                    <div class="input-border">
                        <p><b>Subtotal</b>: {{ pedido.Subtotal }}€</p>
                        <p><b>Descuento</b>: - {{ pedido.Descuento ?? 0 }}€</p>
                        <p><b>Total</b>: {{ pedido.Total }}</p>
                    </div>
                </aside>
            </div>
        </form>

        <br><br>

        <div class="pedido-data-otros">
            <div class="encabezado-pedidoitem">
                <h2>Productos del pedido</h2>
                <button mat-stroked-button (click)="nuevoPedidoItem()">Añadir producto</button>
            </div>
            

            <app-tablacompleta [columns]="columns" [displayedColumns]="displayedColumns" [data]="productosPedido" [buttons]="botones"
            [eliminarSeleccionados]="eliminarSeleccionDialog.bind(this)" (selectionChange)="onSelectionChange($event)"></app-tablacompleta>
        </div>    
            
        
    }

</main>

<!-- CONTENIDO DEL MODAL PARA AÑADIR PRODUCTOS AL PEDIDO -->
<ng-template #contentNuevo>
    <div>
        <form [formGroup]="nuevoProductoPedidoForm" class="productoitem-form">

            <mat-form-field class="input-editar">
                <mat-label>Producto</mat-label>
                <mat-select formControlName="producto_id" ngDefaultControl required>
                    @for(producto of productos; track producto.Id) {
                        <mat-option [value]="producto.Id">#{{ producto.Id }} {{ producto.Nombre }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field class="input-editar">
                <mat-label>Subtotal(opcional)</mat-label>
                <input matInput type="number" formControlName="subtotal" ngDefaultControl>
            </mat-form-field>

            <mat-form-field class="input-editar">
                <mat-label>Cantidad</mat-label>
                <input matInput type="number" formControlName="cantidad" ngDefaultControl required>
            </mat-form-field>

        </form>
    </div>
</ng-template>


<!-- CONTENIDO DEL MODAL PARA EDITAR PRODUCTOS DEL PEDIDO -->
<ng-template #contentEditar>
    <div>
        <form [formGroup]="editarProductoPedidoForm" class="productoitem-form">

            <mat-form-field class="input-editar">
                <mat-label>Producto</mat-label>
                <mat-select formControlName="producto_id" ngDefaultControl required>
                    @for(producto of productos; track producto.Id) {
                        <mat-option [value]="producto.Id">#{{ producto.Id }} {{ producto.Nombre }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field class="input-editar">
                <mat-label>Subtotal(opcional)</mat-label>
                <input matInput type="number" formControlName="subtotal" ngDefaultControl>
            </mat-form-field>

            <mat-form-field class="input-editar">
                <mat-label>Cantidad</mat-label>
                <input matInput type="number" formControlName="cantidad" ngDefaultControl required>
            </mat-form-field>

        </form>
    </div>
</ng-template>


<!-- CONTENIDO DEL MODAL PARA ELIMINAR PRODUCTOS DEL PEDIDO -->
<ng-template #contentEliminar>
    <div>
        ¿Estás seguro de querer eliminar el producto "{{ nombreProducto }}"?
    </div>
</ng-template>

<!-- CONTENIDO DEL MODAL PARA ELIMINAR LA SELECCIÓN DE PRODUCTOS DEL PEDIDO -->
<ng-template #contentEliminarSeleccion>
    <div>
        ¿Estás seguro de querer los productos seleccionados?
        <br>
        <span class="caution">¡OJO! Si has pulsado el botón para seleccionar todo, se eliminarán todos los productos, incluidos aquellos que no aparezcan en la vista actual.</span>
    </div>
</ng-template>