<!-- HEADER -->
<app-header></app-header>

<main>
    <section class="nosotros">
            <h1>Sobre EasyShop</h1>

            <div class="txt-nosotros">

                <div class="container-txt">

                    <img src="assets/img/setupgaming.jpg">

                    <div class="txt">
                    <p>
                        En EasyShop, nuestra misión es acercarte la tecnología de última generación, proporcionando una experiencia de compra confiable y sin complicaciones.
                        Desde nuestra fundación, hemos crecido con la visión de convertirnos en tu tienda de confianza para productos electrónicos de alta 
                        calidad, desde ordenadores y teléfonos hasta cámaras y sistemas de audio.
                    </p>
                    <p>
                        Nos destacamos por nuestro compromiso de ofrecer productos que combinan innovación, calidad y accesibilidad. Trabajamos de la mano con marcas líderes
                        en el sector para garantizar que cada dispositivo cumpla con los más altos estándares de rendimiento y durabilidad. Sabemos que la tecnología es una
                        herramienta esencial para la vida moderna, ya sea para trabajar, aprender o disfrutar de tus momentos de ocio, y por eso queremos asegurarnos de que 
                        encuentres el equipo perfecto para tus necesidades.
                    </p>
                    <p>
                        Nuestro equipo de expertos está siempre a disposición para guiarte y asesorarte, ya sea que estés buscando un teléfono inteligente que se adapte a
                        tu estilo de vida, una laptop para optimizar tu trabajo, o equipos de audio que lleven tu experiencia sonora al siguiente nivel. Nos enorgullece
                        ofrecer un servicio personalizado y eficiente, que incluye desde el proceso de compra en línea hasta la atención postventa, asegurándonos de que cada
                        cliente tenga una experiencia de compra excepcional.
                    </p>
                    <p>
                        Únete a nuestra comunidad y descubre cómo en EasyShop puedes encontrar la tecnología ideal para hacer tu vida más fácil, productiva 
                        y divertida.
                    </p>
                    </div>
                    
                </div>

            </div>
    </section>
</main>

<!-- FOOTER -->
<app-footer></app-footer>