$movilmax: 767px;
$tabletmin: 768px;
$tabletmax: 1023px;
$portatilmin: 1024px;
$portatilmax: 1500px;

.nosotros{
    margin: 5rem 5rem 10rem 5rem;
}

h1{
    text-align: center;
    font-weight: bold;
}

.txt-nosotros{
    text-align: center;
    margin: 5rem 0;
}

.container-txt{
    display: flex;
    flex-direction: row; 
}

.container-txt img{
    width: 50%;
}

.txt{
    padding: 2rem;
}

// MÓVIL
@media only screen and (max-width: $movilmax) {

    .nosotros{
        margin: 2rem; 
    }

    .txt-nosotros{
        text-align: center;
        margin: 2rem 0;
    }

    .container-txt{
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }

    .container-txt img{
        width: 80%;
    }

    .txt{
        padding: 0;
        margin: 2rem 0;
    }
}

// TABLET
@media only screen and (min-width: $tabletmin) and (max-width: $tabletmax) {

    .nosotros{
        margin: 2rem; 
    }

    .txt-nosotros{
        text-align: center;
        margin: 3rem 0;
    }

    .container-txt{
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }

    .container-txt img{
        width: 80%;
    }
    
}

// PORTÁTIL
@media only screen and (min-width: $portatilmin) and (max-width: $portatilmax) {
    .nosotros{
        margin: 5rem; 
    }

    .container-txt{
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    .container-txt img{
        object-fit: cover;
        width: 80%;
    }
}