$movilmax: 767px;
$tabletmin: 768px;
$tabletmax: 1023px;

/* Productos carrito */ 
.carrito{
    text-align: center;
    margin: 5rem;
}

.carrito h1{
    margin-bottom: 3rem;
    font-size: var(--lengthMd3);
    font-weight: bold;
}

tr:nth-child(even){
    background-color: var(--lightgray);
}

th{
    background-color: var(--darkblue) !important;
    color: var(--white);
}

.imagenproducto{
    width: 10%;
    padding: 1rem;
}

.imagenproducto img{
    width: 40%;
}

.nombreProducto{
    cursor: pointer;
}

.td-cantidad{
    width: 25%;
}

.row-cantidad{
    margin: 0 1rem;
}

.btn-outline-minus{
    border-color: red;
}

.btn-outline-minus:hover{
    background-color: red;
    color: white;
}

.btn-outline-plus{
    border-color: var(--darkblue);
}

.btn-outline-plus:hover{
    background-color: var(--darkblue);
    color: white;
}

.danger{
    color: red;
}

.danger:hover{
    cursor: pointer;
}

/* Total carrito */
.total-carrito{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 5rem;
    margin-bottom: 5rem;
}

.total-container{
    width: 50%;
}

.total-card{
    padding: 1rem;
}

.total-card mat-card-title{
    margin-bottom: 2rem;
}

.content-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.content-item-title{
    font-weight: bold;  
}

.example-card-footer button{
    width: 90%;
    margin: 2rem 2rem 1rem 2rem;
    text-align: center;
    color: var(--white);
    background-color: var(--darkblue);
}

// TABLET
@media only screen and (min-width: $tabletmin) and (max-width: $tabletmax) {

    .carrito{
        margin: 2rem;
    }

    .imagenproducto img{
        width: 100%;
    }

    .total-carrito{
        padding: 0 2rem;
    }

    .example-card-footer button{
        width: 80%;
    }
    
}

// MÓVIL
@media only screen and (max-width: $movilmax) {

    .carrito{
        margin: 2rem;
    }

    .imagenproducto{
        width: 100%;
    }

    .imagenproducto img{
        width: 100%;
    }

    .total-carrito{
        padding: 0 2rem;
    }

    .total-container{
        width: 100%;
    }

    .example-card-footer button{
        width: 80%;
    }
}