$maxMobile: 767px;
$minTablet: 768px;
$maxTablet: 1023px;

// FICHA PRODUCTO
.fichaproducto{
    background-color: var(--lightgray);
    padding: 5rem 10rem 5rem 10rem;

    @media only screen and (max-width: $maxMobile){
        padding: 1rem;
    }

    @media only screen and (min-width: $minTablet) and (max-width: $maxTablet){
        padding: 1rem;
    }
    
}

.fichaproducto-container, .relacionados-container{
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
    width: 100%;

    @media only screen and (max-width: $maxMobile){
        flex-direction: column;
    }

}

.fichaproducto-col{
    width: 50%;

    @media only screen and (max-width: $maxMobile){
        width: 100%;
    }
}

.titulo-producto{
    font-weight: bold;
}

.precio{
    font-size: var(--lengthMd2);
    color: var(--darkblue);
}

.precio_rebajado{
    color: var(--orangered);
}

.addtocart{
    margin-right: 1.5rem;
}

.fichaproducto-col .form-control{
    width: 6rem;
}

.btn-checkout{
    background-color: var(--darkblue) !important;
    color: var(--white) !important;
    width: 15rem;
}

// PRODUCTOS RELACIONADOS
.productos-relacionados{
    background-color: var(--lightgray);
    padding: 0 10rem 5rem 10rem;

    @media only screen and (max-width: $maxMobile){
        padding: 1rem;
    }

    @media only screen and (min-width: $minTablet) and (max-width: $maxTablet){
        padding: 1rem;
    }
}

.relacionados-container{
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $maxMobile){
        flex-direction: column;
    }
}

.relacionados-container h2{
    width: 100%;
    text-align: center;
    font-size: var(--lengthMd3);
    font-weight: bold;
}

.relacionados-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.relacionados-card{
    width: 30%;

    @media only screen and (max-width: $maxMobile){
        width: 100%;
    }
}

.relacionados-card mat-card-header{
    display: flex;
    justify-content: center;
}

.relacionados-card mat-card-title, .categoria-card mat-card-title{
    font-size: var(--lengthMd2);
    margin:0;
}

.relacionados-card mat-card-title a{
    text-decoration: none;
    color: var(--black);
}

.relacionados-card mat-card-subtitle{
    font-size: var(--lengthMd1);
    font-weight: 400;
    color: var(--darkblue);
    text-align: center;
}

.btn-addtocart{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: var(--darkblue);
    color: var(--white);
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    margin: 1rem 3rem;
    border: none;

    @media only screen and (min-width: $minTablet) and (max-width: $maxTablet){
        margin: 1rem 2rem 
    }
}

.btn-addtocart span{
    font-size: var(--lengthMd1);
}

.btn-addtocart mat-icon{
    font-size: 1.5rem;
}

// Permite traer los espacios en blanco de una columna de la base de datos
.descripcion, .descripcion_corta {
    white-space: pre-line;
}