<main>
    <section class="oferta-empleo">
        @if(ofertaEmpleo) {
            <h1>{{ ofertaEmpleo.puesto }}</h1>
            <p>Publicada el {{ ofertaEmpleo.fecha | date:'longDate'}}</p>

            <div class="oferta">

                <!-- Descripción de la oferta -->
                <div class="cuerpo-oferta">
                    <a href="dashboard/empleos">← Volver a la página anterior</a>
        
                    <h2>Descripción</h2>
        
                    <p>{{ ofertaEmpleo.descripcion }}</p> 
        
                    <h2>Requisitos</h2>
        
                    <p>{{ ofertaEmpleo.requisitos }}</p>
        
                    <h2>Beneficios</h2>
        
                    <p>{{ ofertaEmpleo.beneficios }}</p>
                </div>
        
                <!-- Detalles de la oferta -->
                <div class="detalles-oferta">
                    <mat-card class="detalles-card" appearance="outlined">
                        
                        <mat-card-header>
                        <mat-card-title>Detalles</mat-card-title>
                        </mat-card-header>

                        <mat-card-content>
                            <div class="detalle-item">
                                <p>Categoría</p>
                                <span>{{ ofertaEmpleo.jobcategory }}</span>
                            </div>
                            <br>
                            <div class="detalle-item">
                                <p>Provincia</p>
                                <span>{{ ofertaEmpleo.province }}</span>
                            </div>
                            <br>
                            <div class="detalle-item">
                                <p>Tipo de jornada</p>
                                <span>{{ ofertaEmpleo.jornada }}</span>
                            </div>
                            <br>
                            <div class="detalle-item">
                                <p>Nivel profesional</p>
                                <span>{{ ofertaEmpleo.nivel_profesional }}</span>
                            </div>
                            <br>
                            <div class="detalle-item">
                                <p>Modalidad</p>
                                <span>{{ ofertaEmpleo.modalidad }}</span>
                            </div>
                            <br>
                            <div class="detalle-item">
                                <p>Salario</p>
                                <span>{{ ofertaEmpleo.salario }}</span>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        } @else {
            <p>La oferta de empleo a la que quieres acceder no existe.</p>
        }
        
        <!-- TABLA DE CVS -->
        <p class="cvtable-descripcion">A continuación, puedes ver los CVs inscritos a esta oferta de empleo:</p>

        @if(cvs) {
            <app-tablacompleta [columns]="columns" [displayedColumns]="displayedColumns" [data]="cvs" [buttons]="botones"
                               [eliminarSeleccionados]="openDialogEliminarSeleccionCv.bind(this)" (selectionChange)="onSelectionChange($event)">
            </app-tablacompleta>
        } @else {
            <p>No hay ningún CV inscrito a esta oferta de empleo.</p>
        }
        
    </section>
</main>
