<main>
    <section>
        <h1>Mensajes</h1>
        
        <!-- Con this.openDialogEliminarSeleccionMensajes.bind(this) nos aseguramos de que cuando se ejecute desde el hijo(tablacompleta) se pueda acceder a las propiedades y métodos del padre(dashboardmensajes) -->
        <app-tablacompleta [columns]="columns" [displayedColumns]="displayedColumns" [data]="data" [buttons]="botones"
                           [eliminarSeleccionados]="openDialogEliminarSeleccionMensajes.bind(this)" (selectionChange)="onSelectionChange($event)">
        </app-tablacompleta>
    </section>
</main>
