<main>
    <section class="productos">
        <div class="encabezado-empleo">
            <h1>Empleos</h1>
            <button mat-stroked-button (click)="openDialogNuevoEmpleo()">Añadir nueva oferta</button>
        </div>

        <p>Para gestionar las categorías de empleo, provincias y demás, diríjase a la sección 'Categorías empleos' en el menú lateral.</p>

        <div class="empleoTable">
            <mat-form-field>
                <mat-label>Filtro</mat-label>
                <input matInput (keyup)="aplicarFiltro($event)" placeholder="Ej. Programador/a" #input> <!-- FILTRO -->
            </mat-form-field>

            <button mat-stroked-button (click)="eliminarSeleccionados()" class="dangerAll">Eliminar ofertas selecionadas</button>
              
              <!-- TABLA CON LOS EMPLEOS -->
              <div class="mat-elevation-z8 table-responsive">
                <table mat-table [dataSource]="dataSource" matSort> <!-- [dataSource] indica de qué variable coge los datos -->

                  <!-- Checkbox Column -->
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)"
                                    [aria-label]="checkboxLabel(row)">
                      </mat-checkbox>
                    </td>
                  </ng-container>

                  <!-- ID Column -->
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                  </ng-container>
              
                  <!-- Puesto Column -->
                  <ng-container matColumnDef="puesto">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Puesto </th>
                    <td mat-cell *matCellDef="let row"> {{row.puesto}} </td>
                  </ng-container>
              
                  <!-- Provincia Column -->
                  <ng-container matColumnDef="provincia">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Provincia </th>
                    <td mat-cell *matCellDef="let row"> {{row.province}} </td>
                  </ng-container>

                  <!-- Jornada Column -->
                  <ng-container matColumnDef="jornada">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Jornada </th>
                    <td mat-cell *matCellDef="let row"> {{row.jornada}} </td>
                  </ng-container>

                  <!-- Fecha Column -->
                  <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                    <td mat-cell *matCellDef="let row"> {{row.fecha | date:'shortDate'}} </td>
                  </ng-container>

                  <!-- Columna para ver/editar ofertas -->
                  <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                    <td mat-cell *matCellDef="let row">
                      <button mat-stroked-button (click)="openDialogEditarEmpleo(row.id)">Editar</button>
                      <button mat-stroked-button >Ver CVs</button>
                      <button mat-stroked-button class="danger" (click)="openDialogEliminarEmpleo(row.id, row.puesto)">Eliminar</button>
                    </td>
                  </ng-container>
              
                  <!-- INDICAMOS LAS COLUMNAS A MOSTRAR EN EL HEADER Y EN LAS COLUMNAS DE LOS DATOS DE DEBAJO -->
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              
                  <!-- FILA QUE SE MUESTRA SI LOS REGISTROS NO CUMPLEN CON LO ESTABLECIDO EN EL FILTRO -->
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                  </tr>
                </table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of empleos"></mat-paginator>
              </div>
        </div>
    </section>
</main>
