<main>
    <section>
        <h1>Editar categoría de producto</h1>
        <a href="dashboard/categoriasproducto">← Volver a la página anterior</a>
    </section>

    <br><br>

    <section class="data">

        @if(categoria) {

            <div class="column-data">

                <form [formGroup]="editarCategoriaForm" class="example-form">
                    <mat-form-field class="example-full-width">
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Nombre de la categoría" formControlName="nombre" ngDefaultControl required>
                    </mat-form-field>
            
                    <mat-form-field class="example-full-width">
                        <mat-label>Slug</mat-label>
                        <input matInput placeholder="Slug de la categoría" formControlName="slug" ngDefaultControl required>
                    </mat-form-field>
        
                    <button mat-flat-button class="select-image" (click)="openDialogSeleccionarImagen()">Seleccionar imagen</button>
                    @if(imagenSeleccionada()) {
                        <span> Imagen: {{ imagenElegida.nombre }}</span>
                    }
                
                    <br><br>
                    <button mat-stroked-button type="submit" (click)="editarProductCategory()">Guardar</button>
        
                </form>
            </div>
    
            <div class="column-data">
    
                @if(categoria.Imagen[0]) {
                    <h3>Ésta es la imagen asignada actualmente:</h3>
                    <p>Nombre de la imagen: {{ categoria.Imagen[0].Nombre_imagen }}</p>
                    <img [src]="FileEndpoint + categoria.Imagen[0].Ruta_archivo" [alt]="categoria.Imagen[0].Alt">

                } @else {
                    <p>La categoría no tiene una imagen asignada.</p>
                }
            </div>

        } @else {
            <p>La categoría a la que intentas acceder no existe.</p>
        }

        
    </section>
    
</main>
