<!-- HEADER -->
<app-header></app-header>

<main>
    <section class="pagenotfound">

        <div class="page-container">
            <div class="txt-notfound">
                <h1>Parece que esta página no existe.</h1>
                <h3>Parece que el enlace que apuntaba aquí no sirve. Aquí te damos algunas alternativas:</h3>
            </div>
    
            <div class="soluciones">
                <form>
                    <input class="search-input" type="text" placeholder="Buscar producto..." #searchbar formControlName="searchFormControl" required>
                    <button class="search-submit" type="submit">
                        <mat-icon aria-hidden="false" aria-label="search icon" fontIcon="search"></mat-icon>
                    </button>
                </form>
                <div class="links">
                    <button mat-stroked-button class="btn-home"><a href="">Ir al inicio</a></button>
                    <button mat-flat-button class="btn-contact"><a href="/contacto">Contáctanos</a></button>
                </div>
            </div>
        </div>
        
    </section>
</main>

<!-- FOOTER -->
<app-footer></app-footer>
