
.pagenotfound{
    padding: 5rem 0;
    background-color: var(--lightgray);
}

.page-container{
    width: 70%;
    margin: 0 auto;
    padding: 5rem 0;
    background-color: var(--white);
}

.txt-notfound h1, .txt-notfound h3{
    text-align: center;
}

/* Formulario de búsqueda */
.soluciones form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.search-input{
    width: 300px;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-submit{
    background-color: var(--darkblue);
    color: #fff;
    padding: 5px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
}

/* Links */
.links{
    display: flex;
    justify-content: center;
    gap: 2rem;

}

.btn-home a{
    color: var(--black);
    text-decoration: none;
}

.btn-contact{
    background-color: var(--darkblue);
    color: var(--white);
}

.btn-contact a{
    color: var(--white);
    text-decoration: none;
}