<!-- HEADER -->
<app-header></app-header>

<main>
    <section class="resultados-busqueda">
        <h1>Resultados de la búsqueda para: {{ busqueda }}</h1>

        <div class="productos-busqueda">

            <mat-card class="producto-card" appearance="outlined">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-header>
                  <mat-card-title><a routerLink="/producto">Shiba Inu</a></mat-card-title>
                  <mat-card-subtitle>150€</mat-card-subtitle>
                </mat-card-header>
                <button class="btn-addtocart">
                  <mat-icon class="addtocart-icon" aria-label="Icon addtocart" aria-hidden="false" fontIcon="add_shopping_cart"></mat-icon>
                  <span>Añadir</span>
                </button>
            </mat-card>

            <mat-card class="producto-card" appearance="outlined">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-header>
                  <mat-card-title><a routerLink="/producto">Shiba Inu</a></mat-card-title>
                  <mat-card-subtitle>150€</mat-card-subtitle>
                </mat-card-header>
                <button class="btn-addtocart">
                  <mat-icon class="addtocart-icon" aria-label="Icon addtocart" aria-hidden="false" fontIcon="add_shopping_cart"></mat-icon>
                  <span>Añadir</span>
                </button>
            </mat-card>

            <mat-card class="producto-card" appearance="outlined">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-header>
                  <mat-card-title><a routerLink="/producto">Shiba Inu</a></mat-card-title>
                  <mat-card-subtitle>150€</mat-card-subtitle>
                </mat-card-header>
                <button class="btn-addtocart">
                  <mat-icon class="addtocart-icon" aria-label="Icon addtocart" aria-hidden="false" fontIcon="add_shopping_cart"></mat-icon>
                  <span>Añadir</span>
                </button>
            </mat-card>

            <mat-card class="producto-card" appearance="outlined">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-header>
                  <mat-card-title><a routerLink="/producto">Shiba Inu</a></mat-card-title>
                  <mat-card-subtitle>150€</mat-card-subtitle>
                </mat-card-header>
                <button class="btn-addtocart">
                  <mat-icon class="addtocart-icon" aria-label="Icon addtocart" aria-hidden="false" fontIcon="add_shopping_cart"></mat-icon>
                  <span>Añadir</span>
                </button>
            </mat-card>

            <mat-card class="producto-card" appearance="outlined">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-header>
                  <mat-card-title><a routerLink="/producto">Shiba Inu</a></mat-card-title>
                  <mat-card-subtitle>150€</mat-card-subtitle>
                </mat-card-header>
                <button class="btn-addtocart">
                  <mat-icon class="addtocart-icon" aria-label="Icon addtocart" aria-hidden="false" fontIcon="add_shopping_cart"></mat-icon>
                  <span>Añadir</span>
                </button>
            </mat-card>

        </div>
    </section>
</main>

<!-- FOOTER -->
<app-footer></app-footer>