<!-- HEADER -->
<app-header></app-header>

<main class="home-container">

    <!-- CAROUSEL PRINCIPAL -->
    <section class="carousel-container">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/img/gaming.png" class="d-block w-100" alt="setup gaming">
          </div>
          <div class="carousel-item">
            <img src="assets/img/doblepantalla.png" class="d-block w-100" alt="alternativa setup gaming">
          </div>
        </div>
      </div>
    </section>

    <section class="ofertas espacioResponsive">
      <div class="oferta-item">
        <a routerLink="/productos">
          <img src="assets/img/ofertas.png" class="d-block w-100" alt="ofertas">
        </a>
      </div>
      <div class="oferta-item">
        <a routerLink="/productos/categoria/ordenadores">
          <img src="assets/img/retro.png" class="d-block w-100" alt="pc retro">
        </a>
      </div>
    </section>

    <!-- BENEFICIOS DE COMPRAR EN ESTA TIENDA -->
    <section class="beneficios espacioResponsive">
      <div class="beneficio-item">
        <mat-icon class="beneficio-icon" aria-label="Icon 24/7" aria-hidden="false" fontIcon="schedule"></mat-icon>
        <span class="beneficio-description">Abierto 24/7</span>
      </div>
      <div class="beneficio-item">
        <mat-icon class="beneficio-icon" aria-label="Icon order" aria-hidden="false" fontIcon="inbox"></mat-icon>
        <span class="beneficio-description">Envío en 24-48h</span>
      </div>
      <div class="beneficio-item">
        <mat-icon class="beneficio-icon" aria-label="Icon 24/7" aria-hidden="false" fontIcon="savings"></mat-icon>
        <span class="beneficio-description">El mejor precio garantizado</span>
      </div>
      <div class="beneficio-item">
        <mat-icon class="beneficio-icon" aria-label="Icon 24/7" aria-hidden="false" fontIcon="sell"></mat-icon>
        <span class="beneficio-description">Descuentos por temporada</span>
      </div>
    </section>

    <!-- NOVEDADES -->
    <section class="superventas espacioResponsive">
      <h2 class="superventas-title">Últimas novedades</h2>

      <div class="superventas-list">

        @if(novedades) {

          @for(novedad of novedades; track novedad.Id) {

            <mat-card class="superventas-card" appearance="outlined">
              @if(novedad.Marca.length > 0) {
                <img mat-card-image src="{{ fileEndpoint + novedad.Imagen[0].Ruta_archivo }}" alt="{{ novedad.Imagen[0].Alt }}" routerLink="/producto/{{ novedad.Id }}">

              } @else {

                <img mat-card-image src="assets/img/no_category.png" alt="sin imagen" routerLink="/producto/{{ novedad.Id }}">
              }
              <mat-card-header>
                <mat-card-title><a routerLink="/producto/{{ novedad.Id }}"> {{ novedad.Nombre}}</a></mat-card-title>
                @if(novedad.Precio_rebajado_euros) {
                  <mat-card-subtitle>
                     <span class="precio_tachado"><del>{{ novedad.Precio_euros }}</del>€</span>
                     <br>
                     {{ novedad.Precio_rebajado_euros }}€
                  </mat-card-subtitle>
                } @else {
                  <mat-card-subtitle> {{ novedad.Precio_euros }}€</mat-card-subtitle>
                }
                
              </mat-card-header>
              <button class="btn-addtocart" (click)="addtocart(novedad)">
                <mat-icon class="addtocart-icon" aria-label="Icon addtocart" aria-hidden="false" fontIcon="add_shopping_cart"></mat-icon>
                <span>Añadir</span>
              </button>
            </mat-card>
          }

        } @else {

          <h3>No hay novedades a mostrar.</h3>

        }
      </div>
      <!-- ¿Esto es realmente necesario? -->
      <div class="btn-more-superventas">
        <button mat-flat-button class="more-superventas" routerLink="/productos">Ver más</button>
      </div>
      
    </section>

    <!-- POR CATEGORÍAS -->
    <section class="categorias espacioResponsive">
      <h2 class="categorias-title">Categorías</h2>

      <div class="categorias-list">

        <mat-card class="categoria-card">
          <img mat-card-image src="assets/img/todo_categorias.jpg" alt="Todas las categorías" class="d-block w-60">
          <mat-card-header>
            <mat-card-title><a routerLink="/productos">Ver todo</a></mat-card-title>
          </mat-card-header>
        </mat-card>

        @if(categorias){

          @for (item of categorias; track item.Id) {
            <mat-card class="categoria-card">

              @if (item.Imagen.length > 0) {
                <img mat-card-image src="{{ fileEndpoint + item.Imagen[0].Ruta_archivo }}" alt="{{ item.Imagen[0].Alt }}">

              } @else {
                <img mat-card-image src="assets/img/no_category.png" alt="sin imagen">
              }
              <mat-card-header>
                <mat-card-title><a routerLink="/productos/categoria/{{ item.Slug }}">{{ item.Nombre }}</a></mat-card-title>
              </mat-card-header>
            </mat-card>
          }

        } @else {

          <h3>No hay categorías a mostrar.</h3>
          
        }

      </div>
    </section>

    <!-- POR MARCAS -->
    <section class="marcas espacioResponsive">
      <h2 class="marcas-title">Marcas</h2>

      <div class="marcas-list">

        @if(marcas) {

          @for (item of marcas; track item.Id) {
            <mat-card class="marca-card">

              @if(item.Imagen.length > 0) {
                <img mat-card-image src="{{ fileEndpoint + item.Imagen[0].Ruta_archivo }}" alt="{{ item.Imagen[0].Alt }}" loading="lazy" routerLink="/productos/marca/{{ item.Id }}">

              } @else {

                <img mat-card-image src="assets/img/no_category.png" alt="sin imagen">
              }
            </mat-card>
          }

        } @else {
          <h3>No hay marcas a mostrar.</h3>
        }
        
      </div>
    </section>

    <!-- NEWSLETTER -->
    <section class="newsletter espacioResponsive">
      <h2 class="newsletter-title">Newsletter</h2>
      <p class="newsletter-description">Suscríbete a nuestra newsletter para estar al tanto de nuestras novedades.</p>

      <!-- Formulario para la newsletter, usando ngNativeValidate podemos indicar los errores en el HTML -->
      @if (emailguardado) {
        <p class="newsletterConfirm">🙏 Gracias por suscribirse a nuestra newsletter. Recibirá un email confirmando su inscripción a nuestra newsletter.</p>
      } @else {
        <form [formGroup]="newsletterForm" class="newsletterForm" (ngSubmit)="suscripcionNews()" ngNativeValidate>
          <label for="email" class="form-label">Correo electrónico: *</label>
          <div class="inputs">
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Indique su correo electrónico..." formControlName="email" required>
            <button type="submit" class="submit" >Suscribirme</button>
          </div>
          @if(enviando){
            <p class="form-sending">Enviando...</p>
          }
        </form>
      }
      
    </section>
    
  </main>
  
<!-- FOOTER -->
<app-footer></app-footer>