<!-- HEADER -->
<app-header></app-header>

<main>
    <section class="acceso-cliente">
        <h1 class="text-center">Mi cuenta</h1>

        <div class="tabs">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" dynamicHeight="true">
                <mat-tab label="Acceder">
                    <mat-card class="login-card">
                        <form [formGroup]="loginForm" (submit)="login()" ngNativeValidate>
                            <mat-card-content>            
                                        <mat-form-field class="email-input form-field" [style.width.%]="100">
                                            <mat-label>Correo electrónico: </mat-label>
                                            <input type="email" matInput formControlName="email" required>
                                        </mat-form-field>
                                    
                                        <mat-form-field class="password-input form-field" [style.width.%]="100">
                                            <mat-label>Contraseña: </mat-label>
                                            <input type="password" matInput formControlName="password" required>
                                        </mat-form-field>      
                            </mat-card-content>
            
                            <mat-card-footer>
                                <mat-checkbox class="checkbox" formControlName="consentimiento">Acepto la política de privacidad.</mat-checkbox>
                                <button type="submit" class="acceder" mat-flat-button [disabled]="!loginForm.valid">Acceder</button>
                            </mat-card-footer>
                        </form>
                    </mat-card>
                </mat-tab>

                <mat-tab label="Registrarse">
                    <mat-card class="login-card">
                        <form [formGroup]="registroForm" (submit)="registro()" ngNativeValidate>
                            <mat-card-content>
                               
                                <mat-form-field class="name-input form-field" [style.width.%]="100">
                                    <mat-label>Nombre: </mat-label>
                                    <input type="text" matInput formControlName="name" required>
                                </mat-form-field>

                                <mat-form-field class="email-input form-field" [style.width.%]="100">
                                    <mat-label>Correo electrónico: </mat-label>
                                    <input type="email" matInput formControlName="email" required>
                                </mat-form-field>
                                
                                <mat-form-field class="password-input form-field" [style.width.%]="100">
                                    <mat-label>Contraseña: </mat-label>
                                    <input type="password" matInput formControlName="password" required>
                                </mat-form-field>

                                <mat-form-field class="password-input form-field" [style.width.%]="100">
                                    <mat-label>Repetir Contraseña: </mat-label>
                                    <input type="password" matInput formControlName="password_confirmation" required>
                                </mat-form-field>
                                    
                            </mat-card-content>
            
                            <mat-card-footer>
                                <mat-checkbox class="checkbox" formControlName="consentimiento">Acepto la política de privacidad.</mat-checkbox>
                                <button type="submit" class="registro" mat-flat-button [disabled]="!registroForm.valid || botonDisabled">Registrarse</button>
                            </mat-card-footer>
                        </form>
                    </mat-card>
                </mat-tab>
            </mat-tab-group>
        </div>

        <div class="links">

            <p><a [href]="backEndPoint + '/forgot-password'">¿Has olvidado tu contraseña?</a></p>
            <p><a href="">← Volver a EasyShop</a></p>
        </div>
    
        <div class="politica">
            <a [href]="baseUrl + '/politica-de-privacidad'">Política de privacidad</a>
        </div>

    </section>
</main>

<!-- FOOTER -->
<app-footer></app-footer>