<mat-sidenav-container class="sidenav-cart">
    <mat-sidenav>Start</mat-sidenav>
    <mat-sidenav #sidenav mode="over" position="end" fixedInViewport="true" [ngStyle]="{'min-width': '30vh'}">
        <button class="close btn" (click)="closeSidenav()">X</button>
        <br><br>
        
        @if(productos && productos.length > 0) {

            @for(producto of productos; track producto.Id; let indice = $index) {
            
                <mat-card class="producto-card" appearance="outlined">
                    <img mat-card-image src="{{ fileEndPoint + producto.Imagen[0].Ruta_archivo}}" alt="{{ producto.Imagen[0].Alt }}">
                    <mat-card-header>
                      <mat-card-title>{{ producto.Nombre }}</mat-card-title>
                      <mat-card-subtitle>
                        @if(producto.Precio_rebajado_euros) {
                            <span>{{ producto.cantidad }} x {{ producto.Precio_rebajado_euros | currency: 'EUR' }}  </span>
                            <span class="precio_tachado"><del>{{ producto.Precio_euros | currency: 'EUR' }}</del></span>

                        } @else {
                            <span>{{ producto.cantidad }} x {{ producto.Precio_euros | currency: 'EUR' }}</span>
                        }
                        
                    </mat-card-subtitle>
                      <br>
                      <button mat-flat-button color="warn" (click)="deleteProduct(indice)">Eliminar</button>
                    </mat-card-header>
                </mat-card>
            }

            <p class="subtotal"><strong>Subtotal:</strong> {{ subtotal | currency: 'EUR' }}</p>

            <div class="botones-carrito">
                <button mat-stroked-button class="btn-carrito-item ver-carrito"><a class="txt-carrito" [href]="baseUrl + '/carrito'">Ver carrito</a></button>
                <button mat-flat-button class="btn-carrito-item finalizar-compra"><a class="txt-finalizar-compra" [href]="baseUrl + '/finalizar-compra'">Finalizar compra</a></button>
            </div>

        } @else {

            <p class="text-center p-3">No hay productos en el carrito.</p>
        }
        
    </mat-sidenav>
    
    <mat-sidenav-content [ngStyle]="{ 'height': sidenav.opened ? '100vh' : 'auto'}">
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>


