.close{
    float: right;
    margin: 1rem 1rem 0 0;
    color: var(--white);
    background-color: var(--darkblue);
}

.producto-card{
    display: flex;
    flex-direction: row;
    max-width: 30rem;
    padding: 2rem;
    margin: 1rem;
}

.producto-card img{
    width: 40%;
}

// Color de fondo del contenido, ya que hereda de mat-sidenav-content el color --lightgray
mat-sidenav-content{
    background-color: var(--white);
}

.subtotal{
    text-align: center;
    font-size: var(--lengthMd2);
    margin: 2rem 0;
}

.botones-carrito{
    text-align: center;
}

.botones-carrito button{
    margin-right: 1rem;
}

.finalizar-compra{
    background-color: var(--darkblue) !important;
}

a.txt-carrito{
    color: var(--black) !important;
    text-decoration: none;
}

a.txt-finalizar-compra{
    color: var(--white);
    text-decoration: none;
}