<!-- HEADER -->
<app-header></app-header>

<main>
    <section class="ayuda">
        <h1>Centro de ayuda</h1>

        <div class="ayuda-container">
            <h2>Preguntas frecuentes</h2>

            <mat-accordion>

                <mat-expansion-panel class="expansion-item">
                    <mat-expansion-panel-header>
                      <mat-panel-title> Pregunta: ¿Los productos que venden son originales? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Respuesta: Sí, todos los productos que ofrecemos son 100% originales y cuentan con garantía oficial del fabricante.</p>
                  </mat-expansion-panel>

                <mat-expansion-panel class="expansion-item">
                    <mat-expansion-panel-header>
                      <mat-panel-title> Pregunta: ¿Puedo cambiar piezas en los ordenadores que venden? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Respuesta: Algunos de nuestros ordenadores permiten la ampliación de memoria RAM o almacenamiento. Si tienes dudas, consúltanos
                        antes de comprar para asegurarte de que el modelo es compatible con las actualizaciones que necesitas.
                    </p>
                </mat-expansion-panel>

                <mat-expansion-panel class="expansion-item">
                    <mat-expansion-panel-header>
                      <mat-panel-title> Pregunta: ¿Qué métodos de pago aceptan? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Respuesta: Aceptamos tarjetas de crédito/débito y transferencia bancaria.
                    </p>
                </mat-expansion-panel>

                <mat-expansion-panel class="expansion-item">
                    <mat-expansion-panel-header>
                      <mat-panel-title> Pregunta: ¿Es seguro comprar en su tienda? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Respuesta: Absolutamente. Utilizamos tecnologías avanzadas de cifrado para proteger tus datos personales y financieros durante el proceso de compra.
                    </p>
                </mat-expansion-panel>

                <mat-expansion-panel class="expansion-item">
                    <mat-expansion-panel-header>
                      <mat-panel-title> Pregunta: ¿Puedo modificar o cancelar mi pedido después de realizarlo? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Respuesta: Si necesitas realizar cambios o cancelar tu pedido, contáctanos lo antes posible. Si el pedido ya ha sido enviado, deberás esperar a recibirlo
                        para iniciar un proceso de devolución.
                    </p>
                </mat-expansion-panel>

                <mat-expansion-panel class="expansion-item">
                    <mat-expansion-panel-header>
                      <mat-panel-title> Pregunta: ¿Cuánto tardará en llegar mi pedido? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Respuesta: Los tiempos de entrega varían según tu ubicación. Normalmente, los pedidos se entregan en un plazo de 24-72 horas.
                    </p>
                </mat-expansion-panel>

                <mat-expansion-panel class="expansion-item">
                    <mat-expansion-panel-header>
                      <mat-panel-title> Pregunta: ¿Qué hago si mi pedido llega dañado o incompleto? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Respuesta: Si tu pedido llega con problemas, contáctanos dentro de las primeras 48 horas tras recibirlo. Gestionaremos el
                        reemplazo o solución lo antes posible.
                    </p>
                </mat-expansion-panel>

                <mat-expansion-panel class="expansion-item">
                    <mat-expansion-panel-header>
                      <mat-panel-title> Pregunta: ¿Cuál es su política de devoluciones? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Respuesta: Por favor, consulte nuestra política de devoluciones <a href="/envio-y-devoluciones">aquí</a>.
                    </p>
                </mat-expansion-panel>

                <mat-expansion-panel class="expansion-item">
                    <mat-expansion-panel-header>
                      <mat-panel-title> Pregunta: ¿Qué hago si el producto no funciona correctamente? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Respuesta: Si el producto presenta problemas dentro del período de garantía, puedes contactarnos para gestionar la reparación,
                        reemplazo o reembolso según corresponda.
                    </p>
                </mat-expansion-panel>

                <mat-expansion-panel class="expansion-item">
                    <mat-expansion-panel-header>
                      <mat-panel-title> Pregunta: ¿Quién cubre los gastos de envío en una devolución? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Respuesta: Si el motivo de la devolución es un defecto o error en el pedido, nosotros asumiremos los gastos de envío. En caso de devoluciones
                        por decisión del cliente (como cambio de opinión), el cliente deberá cubrir esos costos. También puede entregarlo en tienda presencialmente
                        sin coste alguno.
                    </p>
                </mat-expansion-panel>

                <mat-expansion-panel class="expansion-item">
                    <mat-expansion-panel-header>
                      <mat-panel-title> Pregunta: No encuentro respuesta a mi pregunta. </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Respuesta: No se preocupe. Ponemos a su disposición los siguientes métodos para contactarnos: 1. Envíenos un mensaje mediante el formulario
                        en la página de contacto; 2. Mándenos un correo electrónico a nuestro email: easyshop.notifications&#64;gmail.com; 3. Llámenos al teléfono: 952799632
                    </p>
                </mat-expansion-panel>

            </mat-accordion>
        </div>
    </section>
</main>

<!-- FOOTER -->
<app-footer></app-footer>