<h2 mat-dialog-title>Editar suscripción a newsletter</h2>
<mat-dialog-content class="mat-typography">

    @if(newsletter) {
        <form [formGroup]="editarNewsletterForm" class="example-form">
            
            <mat-form-field class="example-full-width">
                <mat-label>Correo electrónico</mat-label>
                <input matInput placeholder="Ejemplo: pepe@gmail.com" formControlName="email" ngDefaultControl required>
            </mat-form-field>

          </form>
    } @else {
        <p>La suscripción a la que trata de acceder no existe.</p>
    }
    
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="true" (click)="editarNewsletter()" cdkFocusInitial>Guardar</button>
</mat-dialog-actions>