<h2 mat-dialog-title>Detalles del medio</h2>
<mat-dialog-content class="mat-typography">

    @if(imagen) {
        <div class="container">

            <section class="imagen">
                <img mat-card-image [src]="storageEndpoint + imagen.archivo" [alt]="imagen.alt">
            </section>
    
            <section>

                <div class="datos-imagen">
                    <p><strong>Fecha de subida:</strong> {{ imagen.fecha | date: 'longDate' }}</p>
                    <p><strong>Tamaño del archivo:</strong> {{ imagen.tamano }} KB</p>
                    <p><strong>Dimensiones:</strong> {{ imagen.dimensiones }}</p>
                    <p><strong>Nombre del archivo:</strong> {{ imagen.nombre_archivo }}</p>
                    <p><strong>Tipo de archivo:</strong> {{ imagen.tipo }}</p>
                </div>

                <hr>

                <form [formGroup]="editarImagenForm" class="example-form">
                    <mat-form-field class="example-full-width">
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Nombre de la imagen" formControlName="nombre" ngDefaultControl required>
                    </mat-form-field>
        
                    <mat-form-field class="example-full-width">
                        <mat-label>Texto alternativo</mat-label>
                        <input matInput placeholder="Texto alternativo para SEO" formControlName="alt" ngDefaultControl>
                    </mat-form-field>
        
                    <mat-form-field class="example-full-width">
                        <mat-label>Leyenda</mat-label>
                        <input matInput placeholder="Leyenda de la imagen" formControlName="leyenda" ngDefaultControl>
                    </mat-form-field>
        
                    <mat-form-field class="example-full-width">
                        <mat-label>Descripción</mat-label>
                        <textarea matInput placeholder="Descripción de la imagen" formControlName="descripcion" ngDefaultControl></textarea>
                    </mat-form-field>
                  </form>
            </section>
        </div>
        
    } @else {
        <p>La imagen a la que trata de acceder no existe.</p>
    }
    
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="true" (click)="editarImagen()" cdkFocusInitial>Guardar</button>
  <button mat-button class="danger" [mat-dialog-close]="true" (click)="eliminarImagen()">Eliminar imagen</button>
</mat-dialog-actions>