$mediaMovil: 767px;
$mediaTabletMin: 768px;
$mediaTabletMax: 1023px;
$mediaPortatilMin: 1024px;

.container-marcas{
    display: flex;
    gap:2rem;

    @media (max-width: $mediaTabletMax) {
        flex-direction: column;
    }

    @media (min-width: $mediaPortatilMin) {
        flex-direction: row;
    }
}

.lista-marcas{
    @media (min-width: $mediaPortatilMin) {
        width: 60%;
    }
}

.form-marcas{
    @media (min-width: $mediaPortatilMin) {
        width: 40%;
    }
}

.example-form {
    min-width: 150px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}

.select-image{
    background-color: var(--darkblue);
    color: var(--white);
}

.caution{
    color: red;
}