$movilmax: 767px;
$tabletmin: 768px;
$tabletmax: 1023px;
$portatilmin: 1024px;
$portatilmax: 1350px;

.contacto{
    margin: 5rem 10rem; 
}

h1{
    text-align: center;
    font-weight: bold;
}

.contacto-container{
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
}

.datos-contacto, .formulario-contacto{
    width: 50%;
}

.datos-contacto-item{
    margin-bottom: 3rem;
}

// Formulario contacto
.encabezado-form{
    margin-left: 1rem;
}

.input-list {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}

.textarea-input textarea {
    resize: vertical; // Permite que el usuario cambie el tamaño manualmente
    overflow: hidden; // Oculta la barra de desplazamiento
}

.form-contacto{
    margin: 4rem 1rem
}

.form-contacto button{
    width: 30%;
    margin: 2rem 0 1rem 0;
    text-align: center;
    color: var(--white);
    background-color: var(--darkblue);
}

// MÓVIL
@media only screen and (max-width: $movilmax) {
    
    .contacto-container{
        flex-direction: column-reverse;
    }

    .datos-contacto, .formulario-contacto{
        width: 100%;
    }

    .contacto{
        margin: 2rem; 
    }

    .form-contacto button{
        margin: 1rem 0;
        
    }
}

// TABLET
@media only screen and (min-width: $tabletmin) and (max-width: $tabletmax) {
    
    .contacto-container{
        flex-direction: column-reverse;
    }

    .datos-contacto, .formulario-contacto{
        width: 100%;
    }

    .contacto{
        margin: 5rem; 
    }

    .form-contacto button{
        margin: 2rem 0;
        
    }
}

// PORTÁTIL
@media only screen and (min-width: $portatilmin) and (max-width: $portatilmax) {
    .contacto{
        margin: 5rem; 
    }

    .form-contacto button{
        margin: 1rem 0;
        
    }
}