<!-- HEADER -->
<app-header></app-header>

<main>
    <section class="email-cliente">
        
        <div class="page-container">
            <div class="welcome">
                <h1>¡Bienvenido/a!</h1>
                <h3>Tu email ha sido verificado correctamente. Inicia sesión a continuación:</h3>
            </div>
    
            <div class="acciones">
                <div class="links">
                    <button mat-stroked-button class="btn-home"><a href="">Ir al inicio</a></button>
                    <button mat-flat-button class="btn-acceso"><a href="/acceso">Acceso</a></button>
                </div>
            </div>
        </div>

    </section>
</main>

<!-- FOOTER -->
<app-footer></app-footer>