<main>
    <section>
        <div class="encabezado-pedidos">
            <h1>Pedidos</h1>
            <button mat-stroked-button (click)="nuevoPedido()">Añadir pedido</button>
        </div>

        <app-tablacompleta [columns]="columns" [displayedColumns]="displayedColumns" [data]="pedidos" [buttons]="botones"
        [eliminarSeleccionados]="eliminarSeleccionDialog.bind(this)" (selectionChange)="onSelectionChange($event)"></app-tablacompleta>
        
    </section>

</main>

<!-- CONTENIDO DEL MODAL PARA ELIMINAR PEDIDOS -->
<ng-template #contentEliminar>
    <div>
        ¿Estás seguro de querer eliminar el pedido de "{{ nombrePedido }}"?
    </div>
</ng-template>

<!-- CONTENIDO DEL MODAL PARA ELIMINAR LA SELECCIÓN DE PEDIDOS -->
<ng-template #contentEliminarSeleccion>
    <div>
        ¿Estás seguro de querer los pedidos seleccionados?
        <br>
        <span class="caution">¡OJO! Si has pulsado el botón para seleccionar todo, se eliminarán todos los pedidos, incluidos aquellos que no aparezcan en la vista actual.</span>
    </div>
</ng-template>