<h2 mat-dialog-title>Editar categoría de empleo</h2>
<mat-dialog-content class="mat-typography">

    @if(categoria) {
        <form [formGroup]="editarCategoriaForm" class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Ejemplo: Informática" formControlName="nombre" ngDefaultControl required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Slug</mat-label>
                <input matInput placeholder="Ejemplo: informatica" formControlName="slug" ngDefaultControl required>
            </mat-form-field>
          </form>
    } @else {
        <p>La categoría a la que trata de acceder no existe.</p>
    }
    
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="true" (click)="editarCategoria()" cdkFocusInitial>Guardar</button>
</mat-dialog-actions>