<!-- HEADER -->
<app-header></app-header>

<main>
    <section class="canal-empleo">
        <h1>Ofertas de empleo</h1>

        <div class="ofertas">
            <!-- FILTROS -->
            <div class="filtros">
                
                    <form class="filtroForm" [formGroup]="filtroForm" (submit)="filtrarEmpleos()">
                        <select name="provincia" class="form-control provincia" id="provincia" placeholder="Provincia" formControlName="provincia" matNativeControl>
                            <option value="" disabled selected>Provincia</option>
                            @for (provincia of provincias; track provincia.id) {
                                <option value="{{provincia.id}}">{{provincia.nombre}}</option>
                            }
                        </select>

                        <select name="categoria" class="form-control categoria" id="categoria" placeholder="Categoría" formControlName="categoria" matNativeControl>
                            <option value="" disabled selected>Categoría</option>
                            @for (categoria of categoriasdeempleo; track categoria.id) {
                                <option value="{{categoria.id}}">{{categoria.nombre}}</option>
                            }
                        </select>

                        <input type="text" class="form-control puesto" id="puesto" placeholder="Puesto" formControlName="puesto">

                        <button mat-flat-button type="submit" class="submit">Filtrar</button>
                    </form>
                
            </div>

            <!-- LISTADO DE OFERTAS DE EMPLEO -->
            <div class="ofertas-list">
                @if (ofertasempleo && ofertasempleo.length > 0) {
                    <mat-grid-list [cols]="colList" [rowHeight]="rowList">

                        @for (oferta of ofertasempleo; track oferta.id) {
                            <mat-grid-tile [colspan]="colItem" [rowspan]="rowItem">
                                <mat-card appearance="outlined" class="oferta-item">
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        
                                    <div class="oferta-content">
                                        
                                        <mat-card-header>
                                            <mat-card-subtitle>{{oferta.jobcategory}}</mat-card-subtitle>
                                            <mat-card-title>{{oferta.puesto}}</mat-card-title>
                                            <mat-card-subtitle>{{oferta.province}}</mat-card-subtitle>
                                        </mat-card-header>
                    
                                        <mat-card-footer>
                                            <button mat-flat-button class="btn-inscribir" routerLink="{{oferta.id}}">Ver oferta</button>
                                        </mat-card-footer>
                                    </div>
                                    
                                </mat-card>
                            </mat-grid-tile>
                        }
                        
                    </mat-grid-list>
                } @else {
                    <h3>No hay ofertas para mostrar.</h3>
                }
                
            </div>
        </div>
    </section>
</main>

<!-- FOOTER -->
<app-footer></app-footer>
