.lista-productos{
    margin: 5rem;
}

.lista-productos h1{
    text-align: center;
    font-weight: bold;
}

.lista-productos-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

/* FILTROS */
.filtros{
    width: 15%;
}

/* LISTADO PRODUCTOS */
.listado{
    width: 85%;
}

.productos-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 3rem;
}

.producto-card{
    text-align: center;
    width: 18%;
}

.producto-card mat-card-header{
    justify-content: center;
}

.producto-card mat-card-subtitle{
    font-weight: 400;
    color: var(--darkblue);
}

.btn-addtocart{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: var(--darkblue);
    color: var(--white);
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    margin: 1rem 3rem;
    border: none;
}

