$movilMax: 767px;
$tabletmin: 768px;
$tabletMax: 1023px;
$portatilmin: 1024px;
$portatilMax: 1350px;

.lista-productos{
    margin: 5rem;
}

.lista-productos h1{
    text-align: center;
    font-weight: bold;
}

.lista-productos-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

/* FILTROS */
.filtros{
    width: 15%;
}

.btnfiltros{
    display: none;
}

.form-control{
    margin-bottom: 1rem;
}

.filtroProductos select{
    background: #fff url('https://www.freeiconspng.com/uploads/arrow-up-icon-23.png') no-repeat;
    background-size: 15px;
    background-position: right 10px center;

}

.submit{
    margin-top: 1rem;
    background-color: var(--darkblue) !important;
    color: var(--white) !important;
}

/* LISTADO PRODUCTOS */
.listado{
    width: 85%;
}

.productos-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 3rem;
}

.producto-card{
    text-align: center;
    width: 18%;
}

.producto-card a{
    text-decoration: none;
    color: var(--black);
}

.producto-card mat-card-header{
    justify-content: center;
}

.producto-card mat-card-subtitle{
    font-weight: 400;
    color: var(--darkblue);
}

.precio{
    font-size: var(--lengthMd2);
    color: var(--darkblue);
}

.precio_rebajado{
    color: var(--orangered);
}

.btn-addtocart{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: var(--darkblue);
    color: var(--white);
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    margin: 1rem 3rem;
    border: none;
}

// Portátil
@media only screen and (min-width: $portatilmin) and (max-width: $portatilMax) {

    /* FILTROS */
    .btnfiltros{
        display: none;
    }

    .filtros{
        width: 20%;
    }

    /* LISTADO PRODUCTOS */
    .listado{
        width: 75%;
    }

    .producto-card{
        width: 23%;
    }

    .btn-addtocart{
        padding: 0.5rem 0;
        margin: 1rem 2rem;
    }
}

// Tablet
@media only screen and (min-width: $tabletmin) and (max-width: $tabletMax) {

    /* FILTRO */
    .lista-encabezado{
        display: flex;
        justify-content: space-between;
    }

    .btnfiltros{
        display: block;
    }

    .filtros{
        width: 100%;
    }

    .filtroProductos{
        display: none;
    }

    /* LISTADO PRODUCTOS */
    .listado{
        width: 100%;
    }

    .lista-productos-container{
        flex-direction: column;
        gap: 0rem;
    }

    .producto-card{
        width: 23%;
    }

    .btn-addtocart{
        padding: 0.5rem 0;
        margin: 1rem;
    }
}

// Móvil
@media only screen and (max-width: $movilMax) {

    .lista-productos{
        margin: 2rem;
    }

    /* FILTRO */
    .lista-encabezado{
        display: flex;
        justify-content: space-between;
    }

    .btnfiltros{
        display: block;
    }

    .filtros{
        width: 100%;
    }

    .filtroProductos{
        display: none;
    }

    /* LISTADO PRODUCTOS */
    .listado{
        width: 100%;
    }

    .productos-list{
        justify-content: center;
    }

    .lista-productos-container{
        flex-direction: column;
        gap: 0rem;
    }

    .producto-card{
        width: 45%;
    }

    .btn-addtocart{
        padding: 0.5rem 0;
        margin: 1rem;
    }
}

