<main>
    <section>
        <div class="encabezado-newsletter">
            <h1>Newsletter</h1>
            <button mat-stroked-button (click)="openDialogNuevaNewsletter()">Añadir nueva suscripción</button>
            <button mat-stroked-button (click)="exportarNewsletter()">Exportar registros</button>
        </div>
        

        <app-tablacompleta [columns]="columns" [displayedColumns]="displayedColumns" [data]="data" [buttons]="botones"
                           [eliminarSeleccionados]="openDialogEliminarSeleccionNewsletter.bind(this)" (selectionChange)="onSelectionChange($event)">
        </app-tablacompleta>
    </section>
</main>
