<main>
    <section>
        <div class="encabezado-ajustes">
            <h1>Ajustes</h1>
        </div>
    </section>

    <br>

    <section class="lista-ajustes">
        <div class="ajuste">
            <h3>Email</h3>
            <form [formGroup]="emailForm">
                <mat-form-field class="input-ajustes">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="ajuste" ngDefaultControl required>
                </mat-form-field>

                <button mat-flat-button (click)="updateEmail()">Guardar cambios</button>
            </form>
        </div>
    </section>
</main>
