/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

}

:root {
    --darkblue: #3F51B5;
    --orangered: #FF5722;
    --white: #ffffff;
    --black: #000000;
    --lightgray: #F5F5F5;
    --lengthSm1: 0.25rem; // 4px
    --lengthSm2: 0.5rem; // 8px
    --lengthSm3: 0.75rem; // 12px
    --lengthMd1: 1rem; // 16px
    --lengthMd2: 1.25rem; // 20px
    --lengthMd3: 1.5rem; // 24px
    --lengthLg1: 2rem; // 32px
    --lengthLg2: 3rem; // 48px
    --lengthLg3: 4rem; // 64px
}

.espacioResponsive{
    // Desktop
    @media screen and (min-width:1367px){
        margin: 3rem;
    }

    // Tablet
    @media screen and (min-width:768px) and (max-width:1366px){
        margin: 2rem;
    }

    // Mobile
    @media screen and (max-width:767px){
        margin: 1rem;
    }
}
