<h2 mat-dialog-title>Editar mensaje</h2>
<mat-dialog-content class="mat-typography">

    @if(mensaje) {
        <form [formGroup]="editarMensajeForm" class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Ejemplo: Pepe" formControlName="nombre" ngDefaultControl required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Apellidos</mat-label>
                <input matInput placeholder="Ejemplo: Gutiérrez" formControlName="apellidos" ngDefaultControl required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Correo electrónico</mat-label>
                <input matInput placeholder="Ejemplo: pepe@gmail.com" formControlName="email" ngDefaultControl required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Asunto</mat-label>
                <input matInput placeholder="Ejemplo: Pregunta sobre producto #157" formControlName="asunto" ngDefaultControl required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Mensaje</mat-label>
                <textarea matInput placeholder="Tu consulta" formControlName="mensaje" ngDefaultControl required></textarea>
            </mat-form-field>
          </form>
    } @else {
        <p>El mensaje al que trata de acceder no existe.</p>
    }
    
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="true" (click)="editarMensaje()" cdkFocusInitial>Guardar</button>
</mat-dialog-actions>