/* HEADER */
.menu-header{
    background-color: black;
    padding: 0.5rem 1rem;
}

.menu-header mat-icon{
    color: white;
    cursor: pointer;
}

/* SIDENAV */
.sidenav{
    position: fixed; // Hace que el sidenav no se pueda scrollear lo hace el contenido de la derecha.
}

/* CONTENIDO */
mat-sidenav-content{
    padding: 2rem;
}

// Ruta activa
.active-link{
    background-color: var(--lightgray) !important; /* Cambia a tu color deseado */
    font-weight: bold;
}
