
    <div class="menu-header">
        @if(dispositivo == "Móvil" || dispositivo == "Tablet") {
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        }
        <a routerLink="">
            <mat-icon>home</mat-icon>
            @if(dispositivo == "Desktop" || dispositivo == "Portátil") {<span>Volver a la web</span>}
        </a>
    </div>

<mat-sidenav-container>
    <mat-sidenav class="sidenav" [mode]="mode" [opened]="open" [style.width.%]="sidenavWidth" #sidenav>
        <mat-nav-list role="navigation">
            <mat-list-item role="listitem" class="nav-item" routerLink="/dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"><mat-icon matListItemIcon [style.margin.%]="10">home</mat-icon>Panel de control</mat-list-item>
            <mat-list-item role="listitem" class="nav-item" routerLink="/dashboard/media" routerLinkActive="active-link"><mat-icon matListItemIcon [style.margin.%]="10">photo_library</mat-icon>Media</mat-list-item>
            <mat-list-item role="listitem" class="nav-item" routerLink="/dashboard/productos" routerLinkActive="active-link"><mat-icon matListItemIcon [style.margin.%]="10">shop</mat-icon>Productos</mat-list-item>
            <mat-list-item role="listitem" class="nav-item" routerLink="/dashboard/categoriasproducto" routerLinkActive="active-link"><mat-icon matListItemIcon [style.margin.%]="10">category</mat-icon>Categorías productos</mat-list-item>
            <mat-list-item role="listitem" class="nav-item" routerLink="/dashboard/marcas" routerLinkActive="active-link"><mat-icon matListItemIcon [style.margin.%]="10">branding_watermark</mat-icon>Marcas</mat-list-item>
            <mat-list-item role="listitem" class="nav-item" routerLink="/dashboard/cupones"><mat-icon matListItemIcon [style.margin.%]="10"><span class="material-symbols-outlined">redeem</span></mat-icon>Cupones</mat-list-item>
            <mat-list-item role="listitem" class="nav-item" routerLink="/dashboard/metodospago" routerLinkActive="active-link"><mat-icon matListItemIcon [style.margin.%]="10">payments</mat-icon>Métodos de pago</mat-list-item>
            <mat-list-item role="listitem" class="nav-item" routerLink="/dashboard/pedidos" routerLinkActive="active-link"><mat-icon matListItemIcon [style.margin.%]="10">inventory2</mat-icon>Pedidos</mat-list-item>
            <mat-list-item role="listitem" class="nav-item" routerLink="/dashboard/empleos" routerLinkActive="active-link"><mat-icon matListItemIcon [style.margin.%]="10">work</mat-icon>Empleo</mat-list-item>
            <mat-list-item role="listitem" class="nav-item" routerLink="/dashboard/categoriasempleo" routerLinkActive="active-link"><mat-icon matListItemIcon [style.margin.%]="10">category</mat-icon>Categorías empleos</mat-list-item>
            <mat-list-item role="listitem" class="nav-item" routerLink="/dashboard/mensajes" routerLinkActive="active-link"><mat-icon matListItemIcon [style.margin.%]="10">mail</mat-icon>Mensajes</mat-list-item>
            <mat-list-item role="listitem" class="nav-item" routerLink="/dashboard/newsletter" routerLinkActive="active-link"><mat-icon matListItemIcon [style.margin.%]="10">newspaper</mat-icon>Newsletter</mat-list-item>
            <mat-list-item role="listitem" class="nav-item" routerLink="/dashboard/usuarios" routerLinkActive="active-link"><mat-icon matListItemIcon [style.margin.%]="10">group</mat-icon>Usuarios</mat-list-item>
            <mat-list-item role="listitem" class="nav-item" routerLink="/dashboard/ajustes" routerLinkActive="active-link"><mat-icon matListItemIcon [style.margin.%]="10">settings</mat-icon>Ajustes</mat-list-item>
            <mat-list-item role="listitem" class="nav-item" (click)="logout()"><mat-icon matListItemIcon [style.margin.%]="10">logout</mat-icon>Cerrar sesión</mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content [style.minHeight.vh]="100">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
