<h2 mat-dialog-title>Eliminar ofertas de empleo seleccionadas</h2>
<mat-dialog-content>
  ¿Estás seguro de que quieres eliminar las ofertas de empleo seleccionadas?
  <br>
  <span class="caution">¡OJO! Si has pulsado el botón para seleccionar todo, se eliminarán todas las ofertas, incluidas aquellas que no aparezcan en la vista actual.</span>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close class="aceptar" cdkFocusInitial (click)="eliminarSeleccionados()">Sí</button>
</mat-dialog-actions>