<main>
    <section class="media">
        <div class="encabezado-media">
            <h1>Galería de medios</h1>
            <button mat-stroked-button (click)="openDialogNuevoMedio()">Añadir media</button>
        </div>

        <div class="listado-medios">
            <mat-form-field>
                <mat-label>Filtro</mat-label>
                <input matInput (keyup)="aplicarFiltro($event)" placeholder="" #input> <!-- FILTRO -->
            </mat-form-field>

            @if(imagenesFiltradas.length > 0) { <!-- Muestra las imágenes si el array imagenesFiltradas contiene datos -->
                <mat-grid-list class="imagenes" [cols]="cols" [rowHeight]="rowHeight">

                    @for (image of imagenesFiltradas; track image.Id) {
                        <mat-grid-tile>
                            <a (click)="openDialogEditarMedio(image.Id)">
                                <img mat-card-image [ngSrc]="storageEndpoint + image.Archivo" loading="lazy" [alt]="image.Alt" fill>
                            </a>
                        </mat-grid-tile>
                    }
    
                </mat-grid-list>
            } @else {
                <p>No hay imágenes a mostrar.</p>
            }

            
        </div>
    </section>
</main>
