.encabezado-media{
    display: flex;
    gap: 1rem; 
    margin-bottom: 1rem;
}

.encabezado-media button{
    border-color: var(--darkblue);
}

.imagenes img{
    max-width: 300px;
    max-height: 230px;
    object-fit: cover;
    margin: 1rem;
}

.imagenes a{
    cursor: pointer;
}
